@{
    ViewData["Title"] = "Recruitment";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}



<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="section-banner">

        <img src="/images/b/banner-inner_3.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <span>Careers</span>

    </div>

    <div class="pageTitle hidden">Careers</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">Recruitment</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                    <h3>Due to the expansion of Hinh Lam Company's branch in Hanoi, we are recruiting the following position:</h3>
                    <p>1. Position: <strong>General Accountant - Hanoi</strong></p>
                    <p>Number of openings: <strong>02</strong></p>
                    <p>Gender: <strong>No preference</strong></p>
                    <p>Work schedule: <strong>Office hours</strong></p>
                    <p>Educational background: <strong>College degree</strong></p>
                    <p>Salary range: <strong>9 - 15 million VND</strong></p>
                    <p>Employment type: <strong>Full-time</strong></p>
                    <p>Probation period: <strong>1 month</strong></p>
                    <p>Main industry: <strong>Accounting/Finance/Auditing</strong></p>
                    <p>Work location: <strong>Trung Hoa, Cau Giay, Hanoi</strong></p>
                    <p><strong>Job description:</strong></p>
                    <ul>
                        <li>Verify and reconcile accounting invoices and documents.</li>
                        <li>Record accounting transactions in the accounting software.</li>
                        <li>Prepare administrative reports to be submitted to relevant authorities.</li>
                        <li>Monitor accounting books, budget submissions, and monthly tax payment notifications for clients.</li>
                        <li>Prepare accounting records, print and close accounting documents.</li>
                        <li>Job responsibilities will be discussed in detail during the interview.</li>
                    </ul>
                    <p><strong>Job requirements:</strong></p>
                    <ul>
                        <li>Educational background: Graduated from college or higher in the field of Accounting.</li>
                        <li>Experience: 2 years.</li>
                        <li>Proficient in computer skills and specialized accounting software usage (additional training will be provided).</li>
                        <li>Quick, careful, honest, and highly disciplined.</li>
                        <li>Ability to work independently and as part of a team.</li>
                        <li>Priority given to candidates with experience in accounting service companies.</li>
                        <li>Work location: <strong>Hanoi</strong>.</li>
                    </ul>
                    <p><strong>Benefits:</strong></p>
                    <ul>
                        <li>Basic salary + allowances + bonuses, based on performance.</li>
                        <li>13th-month bonus and recognition of dedication and year-end efficiency, holiday bonuses.</li>
                        <li>Participation in social insurance, health insurance, and unemployment insurance according to labor laws.</li>
                        <li>Training and working in a company with a large scale and favorable conditions for improving professional skills and work experience.</li>
                        <li>Professional, dynamic, and friendly working environment.</li>
                        <li>Many opportunities for promotion and development within the company.</li>
                        <li>Rewards and recognition based on job performance.</li>
                        <li>Stable and long-term employment.</li>
                    </ul>
                    <h3>Submit your application here:</h3>

                        <form class="frm-contact" name="cartform" method="POST" action="/tuyen-dung" ENCTYPE="multipart/form-data">

                        <div class="container h-100">

                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-xl-9">

                                    <div class="card" style="border-radius: 15px;">
                                        <div class="card-body">

                                            <div class="row align-items-center pt-4 pb-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Full Name</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="text" class="form-control form-control-lg" />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Email *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="email" class="form-control form-control-lg" placeholder="vd: abc@hinhlam.com" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Phone Number *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="tel" class="form-control form-control-lg" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">CV/Resume</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">
                                                    <label for="imageUpload" class="form-control form-control-lg">Select File (.pdf*)</label>
                                                    <input class="form-control form-control-lg" id="imageUpload" type="file" style="display: none" accept="application/pdf" />
                                                    <div class="small text-muted mt-2">
                                                        Upload your Profile/Summary or any related file.
                                                        Maximum size 50 MB
                                                    </div>

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="px-5 py-4" style="display: flex;
                                                                    align-items: center;
                                                                    justify-content: center">
                                                <button type="submit" class="btn btn-primary btn-lg">Send Application</button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tuyen-dung');
            document.getElementById('enFlag').setAttribute('href', '/en' + '/careers');
            document.getElementById('cnFlag').setAttribute('href', '/cn' + '/careers-chinese');
        });
    </script>
</body>
