@{
    ViewData["Title"] = "招聘";
    Layout = "~/Views/Shared/_LayoutCN.cshtml";
}



<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
   
    <div class="section-banner">

        <img src="/images/b/banner-inner_3.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">主頁</a>

        <span>招聘</span>

    </div>

    <div class="pageTitle hidden">招聘</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">招聘</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    
                    <div class="detail-content">
                        <div class="content-container body-container">
                            <h2 class="content-heading-small">招聘通知 - 兴林公司</h2>
                            <h3 class="content-heading-secondary">由于兴林公司在河内和平阳的分支机构扩展需求，现招聘以下职位：</h3>
                            <h2 class="content-heading-small">I. 职位：</h2>
                            <ul class="content-list">
                                <li>
                                    <h3>销售管理员 - 3个职位：</h3>
                                    <p class="content-paragraph">- 要求：大学本科外语专业（中文或英语）毕业。</p>
                                    <p class="content-paragraph">- 经验：最少3年。</p>
                                    <p class="content-paragraph">- 工作地点：平阳和河内。</p>
                                </li>
                                <li>
                                    <h3>总会计师或首席会计师 - 3个职位：</h3>
                                    <p class="content-paragraph">- 要求：大学本科会计、审计专业毕业。</p>
                                    <p class="content-paragraph">- 经验：最少3年。</p>
                                    <p class="content-paragraph">- 工作地点：平阳和河内。</p>
                                </li>
                            </ul>
                            <h2 class="content-heading-small">II. 福利：</h2>
                            <ul class="content-list">
                                <li>基本工资 + 津贴 + 奖金。</li>
                                <li>13个月工资奖金、年终奖金、节日奖金。</li>
                                <li>按劳动法规定参加社会保险、医疗保险、失业保险。</li>
                                <li>培训和专业发展。</li>
                                <li>专业友好的工作环境。</li>
                                <li>多种晋升和发展机会。</li>
                                <li>稳定长期的就业。</li>
                            </ul>
                            <h2 class="content-heading-small">III. 要求：</h2>
                            <p class="content-paragraph">- 性别：不限。</p>
                            <p class="content-paragraph">- 工作性质：正常工作时间。</p>
                            <p class="content-paragraph">- 学历：大专。</p>
                            <p class="content-paragraph">- 薪资范围：900万 - 1500万越南盾。</p>
                            <p class="content-paragraph">- 就业类型：全职员工。</p>
                            <p class="content-paragraph">- 试用期：1个月。</p>
                            <h2 class="content-heading-small">IV. 工作地点：</h2>
                            <ul class="content-list">
                                <li>分支机构1：平阳市安福区越兴住宅区D33路370号</li>
                                <li>分支机构2：河内市丰雅区中华街02号</li>
                            </ul>
                            <h2 class="content-heading-small">V. 职位描述：</h2>
                            <ul class="content-list">
                                <li>核对和平衡会计发票和文件。</li>
                                <li>在软件中记录会计交易。</li>
                                <li>根据要求准备行政报告提交给有关部门。</li>
                                <li>监控会计记录，通知每月税款金额。</li>
                                <li>准备会计记录，打印并归档凭证。</li>
                            </ul>
                            <div class="content-contact">
                                <h3>联系查询：</h3>
                                <p>电话号码：0274 6267789，询问Thao女士/Lam女士</p>
                            </div>
                            <p class="bottom-right">更新于2023年8月22日</p>
                        </div>

                        <h3>请在此处提交您的申请：</h3>

                        <form class="frm-contact" name="cartform" method="POST" action="/tuyen-dung" ENCTYPE="multipart/form-data">
                            <input type="hidden" name="language" value="cn" />
                        <div class="container h-100">

                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-xl-9">

                                    <div class="card" style="border-radius: 15px;">
                                        <div class="card-body">

                                            <div class="row align-items-center pt-4 pb-3">
                                                <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">全名</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                        <input type="text" name="CandidateName" class="form-control form-control-lg" required/>

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Email *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                        <input type="email" name="Email" class="form-control form-control-lg" placeholder="vd: abc@hinhlam.com" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">電話號碼 *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                        <input type="tel" name="PhoneNumber" class="form-control form-control-lg" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">申请的职位 *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="text" name="ApplyPosition" class="form-control form-control-lg" required />

                                                    </div>
                                                </div>

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">申請工作</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">
                                                        <label for="imageUpload" class="form-control form-control-lg">選擇文件 (.pdf*)</label>
                                                        <input class="form-control form-control-lg" name="ApplyFile" id="imageUpload" type="file" style="display: none" accept="application/pdf" required />
                                                    <div class="small text-muted mt-2">
                                                            上傳您的個人資料/摘要或任何相關文件。
                                                            最大大小 50 MB
                                                    </div>

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="px-5 py-4" style="display: flex;
                                                                    align-items: center;
                                                                    justify-content: center">
                                                <button type="submit" class="btn btn-primary btn-lg">Send Application</button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tuyen-dung');
            document.getElementById('enFlag').setAttribute('href', '/en' + '/careers');
            document.getElementById('cnFlag').setAttribute('href', '/cn' + '/careers-chinese');
        });
    </script>
    @if (TempData.ContainsKey("NotificationMessage"))
    {
        <script>
            toastr.options = {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-top-right',
                timeOut: 5000,
                toastClass: 'custom-toast-class'
            };
            toastr['@TempData["NotificationType"]']('@TempData["NotificationMessage"]');
        </script>
    }
</body>