@model HinhLam_DataObject.ViewModel.RecruitmentViewModel;

@{
    ViewData["Title"] = "Tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="section-banner">

        <img src="/images/b/banner-inner_3.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Tuyển dụng</span>

    </div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">Tuyển dụng</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                        
                    @*start-new content*@
                        <div class="content-container body-container">
                            <h2 class="content-heading-small">Thông Báo Tuyển Dụng - Công Ty Hinh Lam</h2>
                            <h3 class="content-heading-secondary">Do nhu cầu mở rộng qui mô Chi Nhánh Công ty Hinh Lam tại Hà Nội và Bình Dương tuyển thêm vị trí như sau:</h3>
                            <h2 class="content-heading-small">I.Vị Trí:</h2>
                            <ul class="content-list">
                                <li>
                                    <h3>Sale Admin - 3 vị trí:</h3>
                                    <p class="content-paragraph">- Yêu cầu: Tốt nghiệp đại học chuyên ngành ngoại ngữ (tiếng Trung hoặc tiếng Anh).</p>
                                    <p class="content-paragraph">- Kinh nghiệm: Tối thiểu 3 năm.</p>
                                    <p class="content-paragraph">- Địa điểm làm việc: Bình Dương và Hà Nội.</p>
                                </li>
                                <li>
                                    <h3>Kế Toán Tổng Hợp hoặc Kế Toán Trưởng - 3 vị trí:</h3>
                                    <p class="content-paragraph">- Yêu cầu: Tốt nghiệp đại học chuyên ngành kế toán, kiểm toán.</p>
                                    <p class="content-paragraph">- Kinh nghiệm: Tối thiểu 3 năm.</p>
                                    <p class="content-paragraph">- Địa điểm làm việc: Bình Dương và Hà Nội.</p>
                                </li>
                            </ul>
                            <h2 class="content-heading-small">II.Quyền Lợi:</h2>
                            <ul class="content-list">
                                <li>Lương cơ bản + phụ cấp + thưởng.</li>
                                <li>Thưởng tháng 13, thưởng cuối năm, thưởng lễ tết.</li>
                                <li>Tham gia BHXH, BHYT, BHTN theo luật lao động.</li>
                                <li>Đào tạo và phát triển chuyên môn.</li>
                                <li>Môi trường làm việc chuyên nghiệp, thân thiện.</li>
                                <li>Nhiều cơ hội thăng tiến và phát triển.</li>
                                <li>Công việc ổn định và lâu dài.</li>
                            </ul>
                            <h2 class="content-heading-small">III.Yêu Cầu:</h2>
                            <p class="content-paragraph">- Giới tính: Không yêu cầu.</p>
                            <p class="content-paragraph">- Tính chất công việc: Giờ hành chính.</p>
                            <p class="content-paragraph">- Trình độ: Cao đẳng.</p>
                            <p class="content-paragraph">- Mức lương: 9 – 15 Triệu.</p>
                            <p class="content-paragraph">- Hình thức làm việc: Nhân viên chính thức.</p>
                            <p class="content-paragraph">- Thời gian thử việc: 1 tháng.</p>
                            <h2 class="content-heading-small">IV.Địa Điểm làm việc:</h2>
                            <ul class="content-list">
                                <li>Cơ sở 1: Số 370, Đường D33, KDC VietSing, P.An Phú, TP.Thuận An, Bình Dương</li>
                                <li>Cơ Sở 2: Số 02, Phố Đỗ Quang, P.Trung Hoà, Quận Cầu Giấy, Thành Phố Hà Nội</li>
                            </ul>
                            <h2 class="content-heading-small">V.Mô Tả Công Việc:</h2>
                            <ul class="content-list">
                                <li>Kiểm tra, cân đối hóa đơn, chứng từ kế toán.</li>
                                <li>Hạch toán các nghiệp vụ kế toán vào phần mềm.</li>
                                <li>Làm báo cáo hành chính gửi cơ quan theo quy định.</li>
                                <li>Theo dõi sổ sách kế toán, thông báo số thuế hàng tháng.</li>
                                <li>Làm sổ sách kế toán, in, đóng sổ chứng từ.</li>
                            </ul>
                            <div class="content-contact">
                                <h3>Mọi thắc mắc liên hệ ngay:</h3>
                                <p>Số điện thoại: 0274 6267789 gặp Mrs.Thảo/Ms.Lâm</p>
                            </div>
                            <p class="bottom-right">Cập nhật ngày 22/08/2023</p>
                        </div>

                    @*end-new content*@

                        <h3>Hoặc nộp hồ sơ trực tiếp tại đây:</h3>
                    
                    <form class="frm-contact" name="cartform" method="POST" action="/tuyen-dung" ENCTYPE="multipart/form-data">
                            <input type="hidden" name="language" value="vn" />
                            <div class="container h-100">
                            
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-xl-9">

                                        <div class="card" style="border-radius: 15px;">
                                            <div class="card-body">

                                                <div class="row align-items-center pt-4 pb-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Họ và tên*</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="text" name="CandidateName" class="form-control form-control-lg" required />

                                                    </div>
                                                </div>

                                                <hr class="mx-n3">

                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Email *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="email" name="Email" class="form-control form-control-lg" placeholder="vd: abc@hinhlam.com" required />

                                                    </div>
                                                </div>

                                                <hr class="mx-n3">

                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Số điện thoại *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="tel" name="PhoneNumber" class="form-control form-control-lg" required />

                                                    </div>
                                                </div>
                                                <hr class="mx-n3">
                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Vị trí ứng tuyển *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="text" name="ApplyPosition" class="form-control form-control-lg" required />

                                                    </div>
                                                </div>

                                                <hr class="mx-n3">

                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Hồ sơ xin việc *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">
                                                    <label for="imageUpload" class="form-control form-control-lg">Chọn tệp (.pdf*)</label>
                                                        <input class="form-control form-control-lg" name="ApplyFile" id="imageUpload" type="file" style="display: none" accept="application/pdf"  required />
                                                        <div class="small text-muted mt-2">
                                                        Tải lên Hồ sơ/Bản tóm tắt của bạn hoặc bất kỳ tệp nào có liên quan.
                                                        Kích thước tối đa 50 MB
                                                        </div>

                                                    </div>
                                                </div>

                                                <hr class="mx-n3">

                                            <div class="px-5 py-4" style="display: flex;
                                                                    align-items: center;
                                                                    justify-content: center">
                                                    <button type="submit" class="btn btn-primary btn-lg">Gửi đơn</button>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </form>
                </div>

                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tuyen-dung');
            document.getElementById('enFlag').setAttribute('href', '/en'+'/careers');
            document.getElementById('cnFlag').setAttribute('href', '/cn'+'/careers-chinese');
        });
    </script>
    @if (TempData.ContainsKey("NotificationMessage"))
    {
        <script>
            toastr.options = {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-top-right',
                timeOut: 5000,
                toastClass: 'custom-toast-class'
            };
            toastr['@TempData["NotificationType"]']('@TempData["NotificationMessage"]');
        </script>
    }
</body>

