@model HinhLam_DataObject.ViewModel.RecruitmentViewModel;

@{
    ViewData["Title"] = "Tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="section-banner">

        <img src="/images/b/banner-inner_3.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Tuyển dụng</span>

    </div>



    <div class="pageTitle hidden">Tuyển dụng</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">Tuyển dụng</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                        <h3>Do nhu cầu mở rộng qui mô Chi Nhánh Công ty Hinh Lam tại Hà Nội và Bình Dương tuyển thêm vị trí như sau :</h3>
                        <p>Vị Trí: </p>
                        <ul>
                            <li><strong>1. Kế Toán tổng hợp - Hà Nội</strong></li>
                            <li><strong>2. Kế Toán tổng hợp - Bình Dương</strong></li>
                        </ul>
                        <p>Số lượng cần tuyển: <strong>02 Cho Mỗi Vị Trí</strong></p>
                        <p>Giới tính: <strong>Không yêu cầu</strong></p>
                        <p>Tính chất công việc: <strong>Giờ Hành Chính</strong></p>
                        <p>Trình độ: <strong>Cao Đẳng</strong></p>
                        <p>Mức lương: <strong>9 – 15 Triệu</strong></p>
                        <p>Hình thức làm việc: <strong>Nhân Viên Chính Thức</strong></p>
                        <p>Thời gian thử việc: <strong>1 Tháng</strong></p>
                        <p>Công việc chính: <strong>Kế toán/Tài Chính/Kiểm Toán</strong></p>
                        <p>Nơi làm việc:</p>
                        <ul>
                            <li>Cơ sở 1: <strong> Số 370, Đường D33, KDC VietSing, P.An Phú, TP.Thuận An, Bình Dương</strong></li>
                            <li>Cơ Sở 2: <strong> Số 02, Phố Đỗ Quang, P.Trung Hoà, Quận Cầu Giấy, Thành Phố Hà Nội</strong></li>
                        </ul>
                        <p><strong>Mô tả công việc:</strong></p>
                        <ul>
                            <li>Kiểm tra, cân đối hóa đơn, chứng từ kế toán.</li>
                            <li>Hạch toán các nghiệp vụ kế toán phát sinh vào phần mềm kế toán.</li>
                            <li>Làm báo cáo hành chính gửi các cơ quan theo quy định.</li>
                            <li>Theo dõi tình trạng sổ sách kế toán, tình hình nộp ngân sách, thông báo số thuế phải nộp hàng tháng cho khách hàng.</li>
                            <li>Làm sổ sách kế toán, in, đóng sổ chứng từ.</li>
                            <li>Công việc sẽ trao đổi cụ thể khi phỏng vấn.</li>
                        </ul>
                        <p><strong>Yêu cầu công việc:</strong></p>
                        <ul>
                            <li>Học vấn: Tốt nghiệp Cao Đẳng trở lên chuyên về lĩnh vực Kế Toán.</li>
                            <li>Kinh nghiệm: 2 năm.</li>
                            <li>Thành thạo vi tính và biết sử dụng phần mềm kế toán chuyên dụng (sẽ được đào tạo thêm).</li>
                            <li>Nhanh nhẹn, cẩn thận, trung thực, kỷ luật cao.</li>
                            <li>Làm việc độc lập và làm việc theo nhóm.</li>
                            <li>Ưu tiên có kinh nghiệm làm qua công ty dịch vụ kế toán.</li>
                            <li>Địa điểm làmviệc: <strong>Hà Nội</strong>.</li>
                        </ul>
                        <p><strong>Quyền lợi:</strong></p>
                        <ul>
                            <li>Lương cơ bản + phụ cấp + thưởng, thỏa thuận theo đúng năng lực làm việc.</li>
                            <li>Thưởng tháng 13 và ghi nhận cống hiến và thưởng hiệu quả cuối năm, thưởng lễ tết.</li>
                            <li>Được tham gia BHXH, BHYT, BHTN theo quy định của luật lao động.</li>
                            <li>Được đào tạo và làm việc trong công ty có quy mô và thuận lợi trong việc nâng cao trình độ chuyên môn và kinh nghiệp làm việc.</li>
                            <li>Môi trường làm việc chuyên nghiệp, năng động, thân thiện.</li>
                            <li>Nhiều cơ hội thăng tiến và phát triển tại Công ty.</li>
                            <li>Chế độ khen thưởng theo mức độ công việc căn cứ trên hiệu quả công việc.</li>
                            <li>Công việc ổn định và lâu dài.</li>
                        </ul>

                        <h3>Nộp hồ sơ trực tiếp tại đây:</h3>
                    
                    <form class="frm-contact" name="cartform" method="POST" action="/tuyen-dung" ENCTYPE="multipart/form-data">
                            <input type="hidden" name="language" value="vn" />
                            <div class="container h-100">
                            
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-xl-9">

                                        <div class="card" style="border-radius: 15px;">
                                            <div class="card-body">

                                                <div class="row align-items-center pt-4 pb-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Họ và tên*</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="text" name="CandidateName" class="form-control form-control-lg" required />

                                                    </div>
                                                </div>

                                                <hr class="mx-n3">

                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Email *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="email" name="Email" class="form-control form-control-lg" placeholder="vd: abc@hinhlam.com" required />

                                                    </div>
                                                </div>

                                                <hr class="mx-n3">

                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Số điện thoại *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="tel" name="PhoneNumber" class="form-control form-control-lg" required />

                                                    </div>
                                                </div>
                                                <hr class="mx-n3">
                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Vị trí ứng tuyển *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="text" name="ApplyPosition" class="form-control form-control-lg" required />

                                                    </div>
                                                </div>

                                                <hr class="mx-n3">

                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Hồ sơ xin việc *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">
                                                    <label for="imageUpload" class="form-control form-control-lg">Chọn tệp (.pdf*)</label>
                                                        <input class="form-control form-control-lg" name="ApplyFile" id="imageUpload" type="file" style="display: none" accept="application/pdf" required />
                                                        <div class="small text-muted mt-2">
                                                        Tải lên Hồ sơ/Bản tóm tắt của bạn hoặc bất kỳ tệp nào có liên quan.
                                                        Kích thước tối đa 50 MB
                                                        </div>

                                                    </div>
                                                </div>

                                                <hr class="mx-n3">

                                            <div class="px-5 py-4" style="display: flex;
                                                                    align-items: center;
                                                                    justify-content: center">
                                                    <button type="submit" class="btn btn-primary btn-lg">Gửi đơn</button>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </form>
                </div>

                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tuyen-dung');
            document.getElementById('enFlag').setAttribute('href', '/en'+'/careers');
            document.getElementById('cnFlag').setAttribute('href', '/cn'+'/careers-chinese');
        });
    </script>
    @if (TempData.ContainsKey("NotificationMessage"))
    {
        <script>
            toastr.options = {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-top-right',
                timeOut: 5000,
                toastClass: 'custom-toast-class'
            };
            toastr['@TempData["NotificationType"]']('@TempData["NotificationMessage"]');
        </script>
    }
</body>

