@{
    ViewData["Title"] = "Recruitment";
    Layout = null;
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/themes/vip/css/style.css" type="text/css" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Recruitment" />
    <title>Careers</title>
    <meta name="generator" content="vFramework 1.10.0 (https://vipcom.vn)" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="">
    <link rel="icon" type="image/gif" href="/images/assets/newlogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="manifest" href="/themes/vip/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css ./assets/styles/internal.min.css inline-->
    <style>
        body {
            color: #333
        }</style>
    <link rel="stylesheet" href="/themes/vip/assets/styles/main.min.css" />
    <link rel="stylesheet" href="/themes/vip//css/fixstyle.css" />
    <!-- main:js -->
    <script src="/themes/vip/scripts/main.min.js"></script><!-- endinject -->
</head>
<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/en/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/tuyen-dung/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/careers/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/careers-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/en/" title="Home">Home</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/about-us/" title="About us">About us</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/services/" title="Services">Services</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/en/services/troubleshooting-accounting-books/" title="Troubleshooting accounting books">Troubleshooting accounting books</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-complete-package-accounting-service/" title="Providing complete-package accounting service">Providing complete-package accounting service</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/training-practical-accountants/" title="Training practical accountants">Training practical accountants</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/tax-agent/" title="Tax agent">Tax agent</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/conducting-vat-refund-by-project/" title="Conducting VAT refund by project">Conducting VAT refund by project</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/consulting-business-establishment/" title="Consulting business Establishment">Consulting business Establishment</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/adjusting-and-amending-investment-licenses/" title="Adjusting and amending investment licenses">Adjusting and amending investment licenses</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/merging-domestic-and-foreign-companies/" title="Merging domestic and foreign companies">Merging domestic and foreign companies</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/dissolution-of-the-company-suspend-operations/" title="Dissolution of the company, suspend operations">Dissolution of the company, suspend operations</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="Setting up, consulting the accounting department, the accounting system">Setting up, consulting the accounting department, the accounting system</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-accounting-software/" title="Provide accounting software">Provide accounting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-electronic-invoice-software/" title="Provide electronic invoice software">Provide electronic invoice software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-digital-signature/" title="Supply digital signature">Supply digital signature</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-social-insurance-reporting-software/" title="Supply Social Insurance reporting software">Supply Social Insurance reporting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-work-permit-for-foreigners/" title="Apply for work permits for foreigners">Apply for work permits for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-visa-for-foreigners/" title="Apply for visas for foreigners">Apply for visas for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="Apply for replacement driver's licenses for foreigners">Apply for replacement driver's licenses for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="Providing services of applying for entry permits to Vietnam.">Providing services of applying for entry permits to Vietnam.</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/news/" title="Info">Info</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/careers/" title="Careers">Careers</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/contact/" title="Contact">Contact</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_3.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <span>Careers</span>

    </div>

    <div class="pageTitle hidden">Careers</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">Recruitment</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                    <h3>Due to the expansion of Hinh Lam Company's branch in Hanoi, we are recruiting the following position:</h3>
                    <p>1. Position: <strong>General Accountant - Hanoi</strong></p>
                    <p>Number of openings: <strong>02</strong></p>
                    <p>Gender: <strong>No preference</strong></p>
                    <p>Work schedule: <strong>Office hours</strong></p>
                    <p>Educational background: <strong>College degree</strong></p>
                    <p>Salary range: <strong>9 - 15 million VND</strong></p>
                    <p>Employment type: <strong>Full-time</strong></p>
                    <p>Probation period: <strong>1 month</strong></p>
                    <p>Main industry: <strong>Accounting/Finance/Auditing</strong></p>
                    <p>Work location: <strong>Trung Hoa, Cau Giay, Hanoi</strong></p>
                    <p><strong>Job description:</strong></p>
                    <ul>
                        <li>Verify and reconcile accounting invoices and documents.</li>
                        <li>Record accounting transactions in the accounting software.</li>
                        <li>Prepare administrative reports to be submitted to relevant authorities.</li>
                        <li>Monitor accounting books, budget submissions, and monthly tax payment notifications for clients.</li>
                        <li>Prepare accounting records, print and close accounting documents.</li>
                        <li>Job responsibilities will be discussed in detail during the interview.</li>
                    </ul>
                    <p><strong>Job requirements:</strong></p>
                    <ul>
                        <li>Educational background: Graduated from college or higher in the field of Accounting.</li>
                        <li>Experience: 2 years.</li>
                        <li>Proficient in computer skills and specialized accounting software usage (additional training will be provided).</li>
                        <li>Quick, careful, honest, and highly disciplined.</li>
                        <li>Ability to work independently and as part of a team.</li>
                        <li>Priority given to candidates with experience in accounting service companies.</li>
                        <li>Work location: <strong>Hanoi</strong>.</li>
                    </ul>
                    <p><strong>Benefits:</strong></p>
                    <ul>
                        <li>Basic salary + allowances + bonuses, based on performance.</li>
                        <li>13th-month bonus and recognition of dedication and year-end efficiency, holiday bonuses.</li>
                        <li>Participation in social insurance, health insurance, and unemployment insurance according to labor laws.</li>
                        <li>Training and working in a company with a large scale and favorable conditions for improving professional skills and work experience.</li>
                        <li>Professional, dynamic, and friendly working environment.</li>
                        <li>Many opportunities for promotion and development within the company.</li>
                        <li>Rewards and recognition based on job performance.</li>
                        <li>Stable and long-term employment.</li>
                    </ul>
                    <h3>Submit your application here:</h3>

                    <form class="frm-contact" name="cartform" method="POST" action="#formcontacts" ENCTYPE="multipart/form-data">

                        <div class="container h-100">

                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-xl-9">

                                    <div class="card" style="border-radius: 15px;">
                                        <div class="card-body">

                                            <div class="row align-items-center pt-4 pb-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Full Name</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="text" class="form-control form-control-lg" />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Email *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="email" class="form-control form-control-lg" placeholder="vd: abc@hinhlam.com" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Phone Number *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="tel" class="form-control form-control-lg" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">CV/Resume</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">
                                                    <label for="imageUpload" class="form-control form-control-lg">Select File (.pdf*)</label>
                                                    <input class="form-control form-control-lg" id="imageUpload" type="file" style="display: none" accept="application/pdf" />
                                                    <div class="small text-muted mt-2">
                                                        Upload your Profile/Summary or any related file.
                                                        Maximum size 50 MB
                                                    </div>

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="px-5 py-4" style="display: flex;
                                                                    align-items: center;
                                                                    justify-content: center">
                                                <button type="submit" class="btn btn-primary btn-lg">Gửi đơn</button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row hightlight">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft">HINH LAM TAX CONSULTING SERVICE CO., LTD.</h3>
                        <p>Address: No. 40 N5 Street, Tan Binh Service Residential Area, Tan Binh Ward, Di An City, Binh Duong Province</p>
                        <p>Business registration No.: 3702862785 issued by Binh Duong Department of Planning and Investment on March 24, 2020</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft border-r"><span>Contact us</span></h3>
                        <div class="list-sp">
                            <div class="d-md-flex">
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0983204115"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0919 724872"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0919 724 872</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0274 6267789"><span><img src="/images/assets/images/icon/icon-phone.png" alt="" /></span><span>0274 626 77 89</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://www.facebook.com/Hinhlamtaxingaccouting" target="_blank" title="facebook"><span><img src="/images/assets/images/icon/icon-facebook.png" alt="facebook" /></span><span>fb.com/Hinhlamtaxingaccouting</span></a></div>

                                </div>
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="skype:dailythue_hinhlam?chat"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://api.whatsapp.com/send?phone=dailythe_hinhlam"><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <p>Copyright © 2020 Hinh Lam Tax Consulting Services Co., Ltd.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="link-footer">

                        <a href="/en/privacy-policy/" title="Privacy Policy">Privacy Policy</a>

                        <a href="/en/privacy/" title="Privacy and safety">Privacy and safety</a>

                    </div>

                    <div class="vf_block">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="fix-right">
        <a href="tel:0983204115" title="">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-hotline.png" alt="Icon hotline">
            </span>
            <span class="text">
                0983204115
            </span>
        </a>
        <a href="/lien-he" class="show-contact" title="Thông tin liên hệ">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-lienhe.png" alt="Icon hotline">
            </span>
        </a>
    </div>
    <input id="itemTemplatePath" type="hidden" value="./">
    <script src="/themes/vip/scripts/dev/pages/home.js" defer></script>
    <script>
        $(function () {
            if ($('.pageTitle').length) {
                $('.pageBannerTitle').html($('.pageTitle').html());
                $('.breabcrumbs').html($('.breabcrumbsPath').html())
            }
        })
    </script>

</body>
</html>
