@{
    ViewData["Title"] = "Recruitment";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}



<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="section-banner">

        <img src="/images/b/banner-inner_3.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <span>Careers</span>

    </div>

    <div class="pageTitle hidden">Careers</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">Recruitment</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                        <div class="content-container body-container">
                            <h2 class="content-heading-small">Recruitment Notice - Hinh Lam Company</h2>
                            <h3 class="content-heading-secondary">Due to the expansion needs of Hinh Lam Company's Branch in Hanoi and Binh Duong, the following positions are open:</h3>
                            <h2 class="content-heading-small">I. Positions:</h2>
                            <ul class="content-list">
                                <li>
                                    <h3>Sale Admin - 3 positions:</h3>
                                    <p class="content-paragraph">- Requirements: Graduated in foreign languages (Chinese or English) from university.</p>
                                    <p class="content-paragraph">- Experience: Minimum of 3 years.</p>
                                    <p class="content-paragraph">- Work location: Binh Duong and Hanoi.</p>
                                </li>
                                <li>
                                    <h3>General Accountant or Chief Accountant - 3 positions:</h3>
                                    <p class="content-paragraph">- Requirements: Graduated in accounting, auditing from university.</p>
                                    <p class="content-paragraph">- Experience: Minimum of 3 years.</p>
                                    <p class="content-paragraph">- Work location: Binh Duong and Hanoi.</p>
                                </li>
                            </ul>
                            <h2 class="content-heading-small">II. Benefits:</h2>
                            <ul class="content-list">
                                <li>Basic salary + allowances + bonuses.</li>
                                <li>13th-month bonus, year-end bonus, holiday bonus.</li>
                                <li>Participation in social insurance, health insurance, unemployment insurance as per labor law.</li>
                                <li>Training and professional development.</li>
                                <li>Professional and friendly working environment.</li>
                                <li>Many opportunities for advancement and development.</li>
                                <li>Stable and long-term employment.</li>
                            </ul>
                            <h2 class="content-heading-small">III. Requirements:</h2>
                            <p class="content-paragraph">- Gender: Not specified.</p>
                            <p class="content-paragraph">- Job nature: Regular working hours.</p>
                            <p class="content-paragraph">- Education level: College diploma.</p>
                            <p class="content-paragraph">- Salary range: 9 – 15 million VND.</p>
                            <p class="content-paragraph">- Employment type: Full-time employee.</p>
                            <p class="content-paragraph">- Probation period: 1 month.</p>
                            <h2 class="content-heading-small">IV. Work Locations:</h2>
                            <ul class="content-list">
                                <li>Branch 1: No. 370, Road D33, VietSing Residential Area, An Phu Ward, Thuan An City, Binh Duong</li>
                                <li>Branch 2: No. 02, Do Quang Street, Trung Hoa Ward, Cau Giay District, Hanoi</li>
                            </ul>
                            <h2 class="content-heading-small">V. Job Description:</h2>
                            <ul class="content-list">
                                <li>Check and balance accounting invoices and documents.</li>
                                <li>Record accounting transactions in the software.</li>
                                <li>Prepare administrative reports for submission to authorities as required.</li>
                                <li>Monitor accounting records, notify monthly tax amounts.</li>
                                <li>Prepare accounting records, print, and file vouchers.</li>
                            </ul>
                            <div class="content-contact">
                                <h3>Contact for Inquiries:</h3>
                                <p>Phone Number: 0274 6267789, ask for Mrs. Thao/Ms. Lam</p>
                            </div>
                            <p class="bottom-right">Updated on August 22, 2023</p>
                        </div>

                    <h3>Or submit your application here:</h3>

                        <form class="frm-contact" name="cartform" method="POST" action="/tuyen-dung" ENCTYPE="multipart/form-data">
                            <input type="hidden" name="language" value="en" />
                        <div class="container h-100">

                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-xl-9">

                                    <div class="card" style="border-radius: 15px;">
                                        <div class="card-body">

                                            <div class="row align-items-center pt-4 pb-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Full Name</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                        <input type="text" name="CandidateName" class="form-control form-control-lg" />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Email *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                        <input type="email" name="Email" class="form-control form-control-lg" placeholder="vd: abc@hinhlam.com" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Phone Number *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                        <input type="tel" name="PhoneNumber" class="form-control form-control-lg" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                                <div class="row align-items-center py-3">
                                                    <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">Apply Position *</h6>

                                                    </div>
                                                    <div class="col-md-9 pe-5">

                                                        <input type="text" name="ApplyPosition" class="form-control form-control-lg" required />

                                                    </div>
                                                </div>
                                                <hr class="mx-n3">
                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">CV/Resume</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">
                                                    <label for="imageUpload" class="form-control form-control-lg">Select File (.pdf*)</label>
                                                        <input class="form-control form-control-lg" name="ApplyFile" id="imageUpload" type="file" style="display: none" accept="application/pdf" required />
                                                    <div class="small text-muted mt-2">
                                                        Upload your Profile/Summary or any related file.
                                                        Maximum size 50 MB
                                                    </div>

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="px-5 py-4" style="display: flex;
                                                                    align-items: center;
                                                                    justify-content: center">
                                                <button type="submit" class="btn btn-primary btn-lg">Send Application</button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tuyen-dung');
            document.getElementById('enFlag').setAttribute('href', '/en' + '/careers');
            document.getElementById('cnFlag').setAttribute('href', '/cn' + '/careers-chinese');
        });
    </script>
    @if (TempData.ContainsKey("NotificationMessage"))
    {
        <script>
            toastr.options = {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-top-right',
                timeOut: 5000,
                toastClass: 'custom-toast-class'
            };
            toastr['@TempData["NotificationType"]']('@TempData["NotificationMessage"]');
        </script>
    }
</body>
