@{
    ViewData["Title"] = "Recruitment";
    Layout = null;
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/themes/vip/css/style.css" type="text/css" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="招聘" />
    <title>招聘</title>
    <meta name="generator" content="vFramework 1.10.0 (https://vipcom.vn)" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="">
    <link rel="icon" type="image/gif" href="/images/assets/newlogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="manifest" href="/themes/vip/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css ./assets/styles/internal.min.css inline-->
    <style>
        body {
            color: #333
        }</style>
    <link rel="stylesheet" href="/themes/vip/assets/styles/main.min.css" />
    <link rel="stylesheet" href="/themes/vip//css/fixstyle.css" />
    <!-- main:js -->
    <script src="/themes/vip/scripts/main.min.js"></script><!-- endinject -->
</head>
<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/cn/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/tuyen-dung/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/careers/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/careers-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/cn/" title="主頁">主頁</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/about-us-chinese/" title="介紹">介紹</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/services-chinese/" title="服務">服務</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/troubleshooting-accounting-books-chinese/" title="會計賬簿、會計服務、退稅等故障排除">會計賬簿、會計服務、退稅等故障排除</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/providing-complete-package-accounting-service/" title="提供全套的會計服務">提供全套的會計服務</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/training-practical-accountants-chinese/" title="實務會計培訓">實務會計培訓</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/tax-agent-chinese/" title="稅務代理">稅務代理</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/conducting-vat-refund-by-project-chinese/" title="項目增值稅退稅">項目增值稅退稅</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/consulting-business-establishment/" title="成立越南和外國企業">成立越南和外國企業</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/adjusting-and-amending-investment-licenses/" title="營業執照、投資執照的調整和變更">營業執照、投資執照的調整和變更</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/merging-domestic-and-foreign-companies-hinh-lam/" title="合併國內外公司">合併國內外公司</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/dissolution-of-the-company-suspend-operations-1/" title="公司解散，暫停營業">公司解散，暫停營業</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/setting-up-consulting-the-accounting-department-the-accounting-system-2/" title="設立、諮詢會計部門、會計系統">設立、諮詢會計部門、會計系統</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/provide-accounting-software-3/" title="提供會計軟件">提供會計軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/provide-electronic-invoice-software-2/" title="提供電子發票軟件">提供電子發票軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/supply-digital-signature/" title="提供數字簽名">提供數字簽名</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/supply-social-insurance-reporting-software/" title="提供社會保險報告軟件">提供社會保險報告軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-work-permit-for-foreigners/" title="為外國人申請工作許可證">為外國人申請工作許可證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-visa-for-foreigners/" title="為外國人申請簽證">為外國人申請簽證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-replacement-drivers-license-for-foreigners/" title="為外國人申請駕駛證">為外國人申請駕駛證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/providing-services-of-applying-for-entry-to-vietnam/" title="提供申請越南入境許可的服務">提供申請越南入境許可的服務</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/news-chinese/" title="新聞">新聞</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/careers-chinese/" title="招聘">招聘</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/contact-chinese/" title="聯繫">聯繫</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_3.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">主頁</a>

        <span>招聘</span>

    </div>

    <div class="pageTitle hidden">招聘</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">招聘</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    
                    <div class="detail-content">
                        <h3>因公司Hinh Lam在河内分公司规模扩大，现招聘以下职位：</h3>
                        <p>1. 职位：<strong>总会计师 - 河内</strong></p>
                        <p>招聘人数：<strong>02</strong></p>
                        <p>性别：<strong>不限</strong></p>
                        <p>工作时间：<strong>办公时间</strong></p>
                        <p>学历：<strong>大专</strong></p>
                        <p>薪资范围：<strong>900 - 1,500万越南盾</strong></p>
                        <p>工作性质：<strong>全职</strong></p>
                        <p>试用期：<strong>1个月</strong></p>
                        <p>主要行业：<strong>会计/金融/审计</strong></p>
                        <p>工作地点：<strong>Trung Hoa, Cau Giay, 河内</strong></p>
                        <p><strong>工作描述：</strong></p>
                        <ul>
                            <li>核对、调和会计发票和文件。</li>
                            <li>记录会计软件中的会计交易。</li>
                            <li>根据规定制作行政报告提交给相关部门。</li>
                            <li>监督会计账簿情况，预算提交和每月税款通知。</li>
                            <li>准备会计记录，打印并结账会计文件。</li>
                            <li>职责将在面试中详细讨论。</li>
                        </ul>
                        <p><strong>工作要求：</strong></p>
                        <ul>
                            <li>学历：大专及以上学历，会计领域专业。</li>
                            <li>经验：2年。</li>
                            <li>精通计算机技能，熟练使用专业会计软件（将提供额外培训）。</li>
                            <li>迅速、细心、诚实、纪律严明。</li>
                            <li>能够独立工作和团队合作。</li>
                            <li>有会计服务公司经验者优先考虑。</li>
                            <li>工作地点：<strong>河内</strong>。</li>
                        </ul>
                        <p><strong>福利待遇：</strong></p>
                        <ul>
                            <li>基本工资 + 津贴 + 奖金，根据工作表现协商确定。</li>
                            <li>13个月工资、年终奖金和年末绩效奖励、节日奖金。</li>
                            <li>按劳动法规定参加社会保险、医疗保险和失业保险。</li>
                            <li>在规模大且条件有利的公司接受培训并从事工作，提高专业技能和工作经验。</li>
                            <li>专业、充满活力和友好的工作环境。</li>
                            <li>在公司内有许多晋升和发展机会。</li>
                            <li>根据工作表现奖励和认可。</li>
                            <li>稳定长期的工作机会。</li>
                        </ul>
                        <h3>请在此处提交您的申请：</h3>

                    <form class="frm-contact" name="cartform" method="POST" action="#formcontacts" ENCTYPE="multipart/form-data">

                        <div class="container h-100">

                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-xl-9">

                                    <div class="card" style="border-radius: 15px;">
                                        <div class="card-body">

                                            <div class="row align-items-center pt-4 pb-3">
                                                <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">全名</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="text" class="form-control form-control-lg" />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                    <h6 class="mb-0">Email *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="email" class="form-control form-control-lg" placeholder="vd: abc@hinhlam.com" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">電話號碼 *</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">

                                                    <input type="tel" class="form-control form-control-lg" required />

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="row align-items-center py-3">
                                                <div class="col-md-3 ps-5">

                                                        <h6 class="mb-0">申請工作</h6>

                                                </div>
                                                <div class="col-md-9 pe-5">
                                                        <label for="imageUpload" class="form-control form-control-lg">選擇文件 (.pdf*)</label>
                                                    <input class="form-control form-control-lg" id="imageUpload" type="file" style="display: none" accept="application/pdf" />
                                                    <div class="small text-muted mt-2">
                                                            上傳您的個人資料/摘要或任何相關文件。
                                                            最大大小 50 MB
                                                    </div>

                                                </div>
                                            </div>

                                            <hr class="mx-n3">

                                            <div class="px-5 py-4" style="display: flex;
                                                                    align-items: center;
                                                                    justify-content: center">
                                                <button type="submit" class="btn btn-primary btn-lg">Gửi đơn</button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                </div>
            </div>

        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row hightlight">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft">鑫藍稅務顧問勞務責任有限公司</h3>
                        <p>越南，平陽省，夷安市，新平坊，新平服務住宅區，N5路，40號</p>
                        <p>商業登記號：3702862785 平陽計劃投資部於 2020 年 3 月 24 日簽發</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft border-r"><span>快速聯繫</span></h3>
                        <div class="list-sp">
                            <div class="d-md-flex">
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0983204115"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0919 724872"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0919 724 872</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0274 6267789"><span><img src="/images/assets/images/icon/icon-phone.png" alt="" /></span><span>0274 626 77 89</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://www.facebook.com/Hinhlamtaxingaccouting" target="_blank" title="facebook"><span><img src="/images/assets/images/icon/icon-facebook.png" alt="facebook" /></span><span>fb.com/Hinhlamtaxingaccouting</span></a></div>

                                </div>
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="skype:dailythue_hinhlam?chat"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://api.whatsapp.com/send?phone=dailythe_hinhlam"><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <p>版權所有© 2020 鑫藍稅務顧問勞務責任有限公司</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="link-footer">

                        <a href="/cn/privacy-policy-3/" title="隱私政策">隱私政策</a>

                        <a href="/cn/privacy-3/" title="隱私">隱私</a>

                    </div>

                    <div class="vf_block">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="fix-right">
        <a href="tel:0983204115" title="">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-hotline.png" alt="Icon hotline">
            </span>
            <span class="text">
                0983204115
            </span>
        </a>
        <a href="/lien-he" class="show-contact" title="Thông tin liên hệ">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-lienhe.png" alt="Icon hotline">
            </span>
        </a>
    </div>
    <input id="itemTemplatePath" type="hidden" value="./">
    <script src="/themes/vip/scripts/dev/pages/home.js" defer></script>
    <script>
        $(function () {
            if ($('.pageTitle').length) {
                $('.pageBannerTitle').html($('.pageTitle').html());
                $('.breabcrumbs').html($('.breabcrumbsPath').html())
            }
        })
    </script>

</body>
</html>