@{
    ViewData["Title"] = "Dịch Vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/dich-vu/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/services/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/services-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/" title="Trang chủ">Trang chủ</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/gioi-thieu/" title="Giới thiệu">Giới thiệu</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/dich-vu/" title="Dịch vụ">Dịch vụ</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/go-roi-so-sach-ke-toan-dich-vu-ke-toan-hoan-thue/" title="Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế">Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-dich-vu-ke-toan-tron-goi/" title="Cung cấp dịch vụ kế toán trọn gói">Cung cấp dịch vụ kế toán trọn gói</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dao-tao-ke-toan-thuc-hanh/" title="Đào tạo kế toán thực hành">Đào tạo kế toán thực hành</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dai-ly-thue/" title="Đại lý thuế">Đại lý thuế</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/hoan-thue-gtgt-du-an/" title="Hoàn thuế GTGT dự án">Hoàn thuế GTGT dự án</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai/" title="Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài">Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu/" title="Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư">Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai/" title="Sát Nhập công ty trong nước và công ty nước ngoài">Sát Nhập công ty trong nước và công ty nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/giai-the-cong-ty-tam-ngung-hoat-dong/" title="Giải thể công ty, tạm ngưng hoạt động">Giải thể công ty, tạm ngưng hoạt động</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan/" title="Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán">Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-ke-toan/" title="Cung cấp phần mềm kế toán">Cung cấp phần mềm kế toán</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-hoa-don-dien-tu/" title="Cung cấp phần mềm hoá đơn điện tử">Cung cấp phần mềm hoá đơn điện tử</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-chu-ky-so/" title="Cung cấp chữ ký số">Cung cấp chữ ký số</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-khai-bao-bao-hiem-xa-hoi/" title="Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội">Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai/" title="Xin giấy phép lao động cho người nước ngoài">Xin giấy phép lao động cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai/" title="Xin cấp thị thực cho người nước ngoài">Xin cấp thị thực cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai/" title="Xin cấp đổi giấy phép lái xe  cho người nước ngoài">Xin cấp đổi giấy phép lái xe  cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam/" title="Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam">Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tin-tuc/" title="Tin tức">Tin tức</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tuyen-dung/" title="Tuyển dụng">Tuyển dụng</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/lien-he/" title="Liên hệ">Liên hệ</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_1.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="profileHinhLam  hide">

        <div class="profile-block">
            <a class="btn-download" href="#"><span>Profile company Hinh lam</span><span class="icon-pdf"><img src="/images/assets/images/icon/icon-pdf.png" alt="" /></span></a>
            <div class="list-support">
                <ul class="support-1">
                    <li><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115 -0919 724 872</span></li>
                    <li><a href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></li>
                    <li><a href="#"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></li>
                    <li><a href="#" title=""><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></li>
                </ul>
                <div class="scan-qr-connect">
                    <p>Quét mã QR kết nối cùng chúng tôi</p>
                    <ul>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>wechat</span></li>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>Zalo</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Dịch vụ</span>

    </div>

    <div class="section-main">
        <div class="container">

            <div class="pageTitle hidden">Dịch vụ</div>
            <div class="row">
                <div class="col-12">
                    <div class="heading-page">
                        <div class="d-md-flex">
                            <h3>Dịch vụ của <span>Hinh Lam</span></span></h3>
                            <div class="text-intro">Trên 15 năm kinh nghiệm làm dịch vụ kế toán cho nhiều lĩnh vực ngành nghề. <br>Chúng tôi luôn sẵn sàng phục vụ bạn.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/go-roi-so-sach-ke-toan-dich-vu-ke-toan-hoan-thue/" title="Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế">
                            <div class="thumb-img">

                                <img src="/images/2021/img-service-1_9.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>01</span></div>
                                    <div class="text-title">Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</div>
                                    <a class="link-viewchitiet" href="/dich-vu/go-roi-so-sach-ke-toan-dich-vu-ke-toan-hoan-thue/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/cung-cap-dich-vu-ke-toan-tron-goi/" title="Cung cấp dịch vụ kế toán trọn gói">
                            <div class="thumb-img">

                                <img src="/images/2021/cung-cap-dich-vu-ke-toan-tron-goi.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>02</span></div>
                                    <div class="text-title">Cung cấp dịch vụ kế toán trọn gói</div>
                                    <a class="link-viewchitiet" href="/dich-vu/cung-cap-dich-vu-ke-toan-tron-goi/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/dao-tao-ke-toan-thuc-hanh/" title="Đào tạo kế toán thực hành">
                            <div class="thumb-img">

                                <img src="/images/2021/dao-tao-ke-toan-thuc-hanh.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>03</span></div>
                                    <div class="text-title">Đào tạo kế toán thực hành</div>
                                    <a class="link-viewchitiet" href="/dich-vu/dao-tao-ke-toan-thuc-hanh/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/dai-ly-thue/" title="Đại lý thuế">
                            <div class="thumb-img">

                                <img src="/images/2021/dai-ly-thue.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>04</span></div>
                                    <div class="text-title">Đại lý thuế</div>
                                    <a class="link-viewchitiet" href="/dich-vu/dai-ly-thue/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/hoan-thue-gtgt-du-an/" title="Hoàn thuế GTGT dự án">
                            <div class="thumb-img">

                                <img src="/images/2021/hoan-thue-gtgt-du-an.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>05</span></div>
                                    <div class="text-title">Hoàn thuế GTGT dự án</div>
                                    <a class="link-viewchitiet" href="/dich-vu/hoan-thue-gtgt-du-an/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai/" title="Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài">
                            <div class="thumb-img">

                                <img src="/images/2021/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>06</span></div>
                                    <div class="text-title">Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài</div>
                                    <a class="link-viewchitiet" href="/dich-vu/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu/" title="Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư">
                            <div class="thumb-img">

                                <img src="/images/2021/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>07</span></div>
                                    <div class="text-title">Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư</div>
                                    <a class="link-viewchitiet" href="/dich-vu/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai/" title="Sát Nhập công ty trong nước và công ty nước ngoài">
                            <div class="thumb-img">

                                <img src="/images/2021/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>08</span></div>
                                    <div class="text-title">Sát Nhập công ty trong nước và công ty nước ngoài</div>
                                    <a class="link-viewchitiet" href="/dich-vu/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/giai-the-cong-ty-tam-ngung-hoat-dong/" title="Giải thể công ty, tạm ngưng hoạt động">
                            <div class="thumb-img">

                                <img src="/images/2021/giai-the-cong-ty-tam-ngung-hoat-dong.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>09</span></div>
                                    <div class="text-title">Giải thể công ty, tạm ngưng hoạt động</div>
                                    <a class="link-viewchitiet" href="/dich-vu/giai-the-cong-ty-tam-ngung-hoat-dong/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan/" title="Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán">
                            <div class="thumb-img">

                                <img src="/images/2021/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>010</span></div>
                                    <div class="text-title">Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán</div>
                                    <a class="link-viewchitiet" href="/dich-vu/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/cung-cap-phan-mem-ke-toan/" title="Cung cấp phần mềm kế toán">
                            <div class="thumb-img">

                                <img src="/images/2021/phan-mem-misa-hinh-lam.png" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>11</span></div>
                                    <div class="text-title">Cung cấp phần mềm kế toán</div>
                                    <a class="link-viewchitiet" href="/dich-vu/cung-cap-phan-mem-ke-toan/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/cung-cap-phan-mem-hoa-don-dien-tu/" title="Cung cấp phần mềm hoá đơn điện tử">
                            <div class="thumb-img">

                                <img src="/images/2021/cung-cap-phan-mem-hoa-don-dien-tu-hinh-lam-2021.png" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>12</span></div>
                                    <div class="text-title">Cung cấp phần mềm hoá đơn điện tử</div>
                                    <a class="link-viewchitiet" href="/dich-vu/cung-cap-phan-mem-hoa-don-dien-tu/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/cung-cap-chu-ky-so/" title="Cung cấp chữ ký số">
                            <div class="thumb-img">

                                <img src="/images/2021/chu-ky-so-hinh-lam-2021-2_1.png" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>13</span></div>
                                    <div class="text-title">Cung cấp chữ ký số</div>
                                    <a class="link-viewchitiet" href="/dich-vu/cung-cap-chu-ky-so/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/cung-cap-phan-mem-khai-bao-bao-hiem-xa-hoi/" title="Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội">
                            <div class="thumb-img">

                                <img src="/images/2021/img-service-1_22.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>14</span></div>
                                    <div class="text-title">Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội</div>
                                    <a class="link-viewchitiet" href="/dich-vu/cung-cap-phan-mem-khai-bao-bao-hiem-xa-hoi/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai/" title="Xin giấy phép lao động cho người nước ngoài">
                            <div class="thumb-img">

                                <img src="/images/2021/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai_1.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>15</span></div>
                                    <div class="text-title">Xin giấy phép lao động cho người nước ngoài</div>
                                    <a class="link-viewchitiet" href="/dich-vu/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai/" title="Xin cấp thị thực cho người nước ngoài">
                            <div class="thumb-img">

                                <img src="/images/2021/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>16</span></div>
                                    <div class="text-title">Xin cấp thị thực cho người nước ngoài</div>
                                    <a class="link-viewchitiet" href="/dich-vu/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai/" title="Xin cấp đổi giấy phép lái xe  cho người nước ngoài">
                            <div class="thumb-img">

                                <img src="/images/2021/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>17</span></div>
                                    <div class="text-title">Xin cấp đổi giấy phép lái xe  cho người nước ngoài</div>
                                    <a class="link-viewchitiet" href="/dich-vu/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/dich-vu/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam/" title="Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam">
                            <div class="thumb-img">

                                <img src="/images/2021/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>18</span></div>
                                    <div class="text-title">Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam</div>
                                    <a class="link-viewchitiet" href="/dich-vu/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam/" title="Xem chi tiết">Xem chi tiết</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
  
</body>