@model MenuInfoModel;
@using HinhLam_Infrastructure.Services.Menu;
@using HinhLam_DataObject.Model;
@using HinhLam_DataObject.ViewModels;
@{
    ViewData["Title"] = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="section-banner">

        <img src="/images/b/banner-inner_1.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="profileHinhLam  hide">

        <div class="profile-block">
            <a class="btn-download" href="#"><span>Profile company Hinh lam</span><span class="icon-pdf"><img src="/images/assets/images/icon/icon-pdf.png" alt="" /></span></a>
            <div class="list-support">
                <ul class="support-1">
                    <li><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115 -0919 724 872</span></li>
                    <li><a href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></li>
                    <li><a href="#"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></li>
                    <li><a href="#" title=""><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></li>
                </ul>
                <div class="scan-qr-connect">
                    <p>Quét mã QR kết nối cùng chúng tôi</p>
                    <ul>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>wechat</span></li>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>Zalo</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <a href="/dich-vu/">Dịch vụ</a>

        <span>Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</span>

    </div>

    <div class="section-main">
        <div class="container">

            <div class="pageTitle hidden">Dịch vụ</div>
            <div class="row">
                <div class="col-12 col-md-8 order-md-2">
                    <div class="share-social-section">
                        <div class="share-social-block">
                            <iframe id="frameFacebook" src="https://www.facebook.com/plugins/like.php?locale=vi_VN&href=&width=120&layout=button&action=like&size=small&share=true&height=65&appId=209361920715199" width="120" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            <script>
                                var a_href = window.location.href;
                                var urlLink = "https://www.facebook.com/plugins/like.php?locale=vi_VN&[href]=" + a_href + "&width=120&layout=button&action=like&size=small&share=true&height=65&appId=209361920715199";
                                $(function () {
                                    urlLink = urlLink.replace('[href]', 'href');
                                    $('#frameFacebook').attr('src', urlLink);
                                })
                            </script>
                        </div>
                    </div>
                    <div class="detail-content">
                        <h3 class="title-detail">Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</h3>
                        <p>Kế toán là một phần quan trọng không thể thiếu trong mọi hoạt động của doanh nghiệp. Dù là doanh nghiệp mới thành lập hay là doanh nghiệp hoạt động lâu năm thì luôn cần một hệ thống kế toán đầy đủ, chính xác, an toàn và bảo mật. Để có được hệ thống kế toán như vậy cần đòi hỏi cao về nhân sự và kinh phí, và hệ thống kế toán hoàn thiện để có thể thích ứng với sự thay đổi nhanh chóng của luật pháp. Tuy nhiên yêu cầu này là bài toán khó cho các doanh nghiệp vừa và nhỏ hiện nay trên địa bàn Tp.HCM, Bình Phước, Bình Dương, Đồng Nai.</p>
                        <p><img src="/images/2021/img-ykien-khach-hang_1_1.jpg" alt="" width="743" height="498" /></p>
                        <h3>Lý do bạn cần dịch vụ gỡ rối sổ sách kế toán</h3>
                        <p>Sau nhiều năm hoạt động, trải qua nhiều lần thay đổi nhân sự kế toán, bạn sẽ gặp nhiều khó khăn trong việc theo dõi sổ sách. Bạn dần cảm thấy đó là rủi ro pháp lý trong doanh nghiệp của mình.</p>
                        <p>Bạn là chủ doanh nghiệp, bạn đang lo lắng về tình hình sổ sách kế toán của doanh nghiệp mình không đúng theo quy định của pháp luật. Bạn lo lắng về sự rắc rối về các chứng từ bị thiếu sót, các chứng từ cần bổ sung, điều chỉnh. Và hơn hết bạn lo lắng về nhân viên kế toán không đủ kinh nghiệm để giải quyết các vấn đề phát sinh bất thường trong quá trình hoạt động.</p>
                        <p>Chứng từ hóa đơn tại doanh nghiệp lộn xộn, không theo hệ thống quy định, mọi vấn đề trở nên bề bộn không thể nào giải quyết được. Kế toán tại công ty thường xuyên thay đổi, không một ai chịu trách nhiệm về số liệu và giải trình các số liệu trên.</p>
                        <h3>Chi tiết về dịch vụ gỡ rối sổ sách kế toán</h3>
                        <ul>
                            <li>Kiểm tra sổ sách của doanh nghiệp.</li>
                            <li>Rà soát kiểm tra tính hợp lệ của hóa đơn, chứng từ, đánh giá lại các chứng từ cần bổ sung điều chỉnh.</li>
                            <li>Kiểm tra việc hạch toán các nghiệp vụ phát sinh, so sánh đối chiếu với các chứng từ khác như sổ phụ ngân hàng, bảng tồn kho….</li>
                            <li>Kiểm tra các báo cáo đã nộp cho cơ quan thuế (Báo cáo thuế GTGT hàng tháng, quý, Báo cáo quyết toán năm, Báo cáo tài chính năm, Báo cáo tình hình sử dụng hóa đơn, …)</li>
                            <li>Kiểm tra việc in sổ sách kế toán, phiếu thu, chi, nhập, xuất (nếu có)</li>
                            <li>Xử lý gỡ rối, hoàn thiện sổ sách cho doanh nghiệp.</li>
                            <li>Sắp xếp hóa đơn, chứng từ phù hợp cho hoạt động của từng doanh nghiệp (theo thời gian, công trình, yếu tố chi phí, …)</li>
                            <li>Điều chỉnh, bổ sung những chứng từ nghiệp vụ kế toán còn thiếu sót trong quá trình hoạt động.</li>
                            <li>Kê khai bổ sung, điều chỉnh các báo cáo đã nộp cho cơ quan thuế khi có sai sót.</li>
                            <li>Hoàn thiện toàn bộ sổ sách của doanh nghiệp như: Báo cáo tài chính, chứng từ khai thuế, chứng từ nội bộ doanh nghiệp.</li>
                            <li>Đại diện cho doanh nghiệp đứng ra giải trình số liệu đã xử lý này cho cơ quan thuế khi cần thiết</li>
                            <li>Tư vấn dịch vụ doanh nghiệp xử lý một số vấn đề phát sinh bất thường.</li>
                        </ul>
                        <p>Trong một số trường hợp đặc biệt, chúng tôi sẽ có nhân viên dày dặn kinh nghiệm để xử lý vấn đề liên quan đến cơ quan chính quyền sở tại.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 order-md-1">
                    <div class="left-siderbar">
                        <h3 class="title-left"> <span><img src="/images/assets/images/icon-plus.png" alt=""></span><span>Dịch vụ Hinh Lam</span></h3>
                        <div class="list-menu-service">

                            <ul>
                                @inject IMenuService menuService;
                                @foreach (var menuItem in menuService.GetAllMenu())
                                {
                                    <li><a class="nav-main__menu-second-link" href="@menuItem.HrefLink" title="@menuItem.MenuName">@menuItem.MenuName</a></li>
                                }

                              @*  <li class="active-menu"><a href="/dich-vu/go-roi-so-sach-ke-toan-dich-vu-ke-toan-hoan-thue/" title="Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế">Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</a></li>

                                <li class=""><a href="/dich-vu/cung-cap-dich-vu-ke-toan-tron-goi/" title="Cung cấp dịch vụ kế toán trọn gói">Cung cấp dịch vụ kế toán trọn gói</a></li>

                                <li class=""><a href="/dich-vu/dao-tao-ke-toan-thuc-hanh/" title="Đào tạo kế toán thực hành">Đào tạo kế toán thực hành</a></li>

                                <li class=""><a href="/dich-vu/dai-ly-thue/" title="Đại lý thuế">Đại lý thuế</a></li>

                                <li class=""><a href="/dich-vu/hoan-thue-gtgt-du-an/" title="Hoàn thuế GTGT dự án">Hoàn thuế GTGT dự án</a></li>

                                <li class=""><a href="/dich-vu/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai/" title="Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài">Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài</a></li>

                                <li class=""><a href="/dich-vu/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu/" title="Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư">Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư</a></li>

                                <li class=""><a href="/dich-vu/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai/" title="Sát Nhập công ty trong nước và công ty nước ngoài">Sát Nhập công ty trong nước và công ty nước ngoài</a></li>

                                <li class=""><a href="/dich-vu/giai-the-cong-ty-tam-ngung-hoat-dong/" title="Giải thể công ty, tạm ngưng hoạt động">Giải thể công ty, tạm ngưng hoạt động</a></li>

                                <li class=""><a href="/dich-vu/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan/" title="Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán">Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán</a></li>

                                <li class=""><a href="/dich-vu/cung-cap-phan-mem-ke-toan/" title="Cung cấp phần mềm kế toán">Cung cấp phần mềm kế toán</a></li>

                                <li class=""><a href="/dich-vu/cung-cap-phan-mem-hoa-don-dien-tu/" title="Cung cấp phần mềm hoá đơn điện tử">Cung cấp phần mềm hoá đơn điện tử</a></li>

                                <li class=""><a href="/dich-vu/cung-cap-chu-ky-so/" title="Cung cấp chữ ký số">Cung cấp chữ ký số</a></li>

                                <li class=""><a href="/dich-vu/cung-cap-phan-mem-khai-bao-bao-hiem-xa-hoi/" title="Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội">Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội</a></li>

                                <li class=""><a href="/dich-vu/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai/" title="Xin giấy phép lao động cho người nước ngoài">Xin giấy phép lao động cho người nước ngoài</a></li>

                                <li class=""><a href="/dich-vu/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai/" title="Xin cấp thị thực cho người nước ngoài">Xin cấp thị thực cho người nước ngoài</a></li>

                                <li class=""><a href="/dich-vu/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai/" title="Xin cấp đổi giấy phép lái xe  cho người nước ngoài">Xin cấp đổi giấy phép lái xe  cho người nước ngoài</a></li>

                                <li class=""><a href="/dich-vu/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam/" title="Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam">Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam</a></li>
*@
                            </ul>

                        </div>
                        <div class="blockLeft"></div>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $('.blockLeft').html($('.profileHinhLam').html());
                })
            </script>

        </div>
    </div>
   
</body>
