@{
    ViewData["Title"] = "Services";
    Layout = null;
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/themes/vip/css/style.css" type="text/css" />
    <title>Services</title>
    <meta name="generator" content="vFramework 1.10.0 (https://vipcom.vn)" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="">
    <link rel="icon" type="image/gif" href="/images/assets/newlogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="manifest" href="/themes/vip/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css ./assets/styles/internal.min.css inline-->
    <style>
        body {
            color: #333
        }</style>
    <link rel="stylesheet" href="/themes/vip/assets/styles/main.min.css" />
    <link rel="stylesheet" href="/themes/vip//css/fixstyle.css" />
    <!-- main:js -->
    <script src="/themes/vip/scripts/main.min.js"></script><!-- endinject -->
</head>
<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/en/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/dich-vu/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/services/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/services-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/en/" title="Home">Home</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/about-us/" title="About us">About us</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/services/" title="Services">Services</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/en/services/troubleshooting-accounting-books/" title="Troubleshooting accounting books">Troubleshooting accounting books</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-complete-package-accounting-service/" title="Providing complete-package accounting service">Providing complete-package accounting service</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/training-practical-accountants/" title="Training practical accountants">Training practical accountants</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/tax-agent/" title="Tax agent">Tax agent</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/conducting-vat-refund-by-project/" title="Conducting VAT refund by project">Conducting VAT refund by project</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/consulting-business-establishment/" title="Consulting business Establishment">Consulting business Establishment</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/adjusting-and-amending-investment-licenses/" title="Adjusting and amending investment licenses">Adjusting and amending investment licenses</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/merging-domestic-and-foreign-companies/" title="Merging domestic and foreign companies">Merging domestic and foreign companies</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/dissolution-of-the-company-suspend-operations/" title="Dissolution of the company, suspend operations">Dissolution of the company, suspend operations</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="Setting up, consulting the accounting department, the accounting system">Setting up, consulting the accounting department, the accounting system</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-accounting-software/" title="Provide accounting software">Provide accounting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-electronic-invoice-software/" title="Provide electronic invoice software">Provide electronic invoice software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-digital-signature/" title="Supply digital signature">Supply digital signature</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-social-insurance-reporting-software/" title="Supply Social Insurance reporting software">Supply Social Insurance reporting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-work-permit-for-foreigners/" title="Apply for work permits for foreigners">Apply for work permits for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-visa-for-foreigners/" title="Apply for visas for foreigners">Apply for visas for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="Apply for replacement driver's licenses for foreigners">Apply for replacement driver's licenses for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="Providing services of applying for entry permits to Vietnam.">Providing services of applying for entry permits to Vietnam.</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/news/" title="Info">Info</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/careers/" title="Careers">Careers</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/contact/" title="Contact">Contact</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_1.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="profileHinhLam  hide">

        <div class="profile-block">
            <a class="btn-download" href="#"><span>Profile company Hinh lam</span><span class="icon-pdf"><img src="/images/assets/images/icon/icon-pdf.png" alt="" /></span></a>
            <div class="list-support">
                <ul class="support-1">
                    <li><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115 -0919 724 872</span></li>
                    <li><a href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></li>
                    <li><a href="#"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></li>
                    <li><a href="#" title=""><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></li>
                </ul>
                <div class="scan-qr-connect">
                    <p>Quét mã QR kết nối cùng chúng tôi</p>
                    <ul>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>wechat</span></li>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>Zalo</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <span>Services</span>

    </div>

    <div class="section-main">
        <div class="container">

            <div class="pageTitle hidden">Services</div>
            <div class="row">
                <div class="col-12">
                    <div class="heading-page">
                        <div class="d-md-flex">
                            <h3><span>Hinh Lam's</span> Services</span></h3>
                            <div class="text-intro">With more than 15 years of experience in providing accounting services to companies in many industries.<br> We are always ready to serve you.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/troubleshooting-accounting-books/" title="Troubleshooting accounting books">
                            <div class="thumb-img">

                                <img src="/images/2021/img-service-1_9.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>01</span></div>
                                    <div class="text-title">Troubleshooting accounting books</div>
                                    <a class="link-viewchitiet" href="/en/services/troubleshooting-accounting-books/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/providing-complete-package-accounting-service/" title="Providing complete-package accounting service">
                            <div class="thumb-img">

                                <img src="/images/2021/cung-cap-dich-vu-ke-toan-tron-goi.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>02</span></div>
                                    <div class="text-title">Providing complete-package accounting service</div>
                                    <a class="link-viewchitiet" href="/en/services/providing-complete-package-accounting-service/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/training-practical-accountants/" title="Training practical accountants">
                            <div class="thumb-img">

                                <img src="/images/2021/dao-tao-ke-toan-thuc-hanh.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>03</span></div>
                                    <div class="text-title">Training practical accountants</div>
                                    <a class="link-viewchitiet" href="/en/services/training-practical-accountants/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/tax-agent/" title="Tax agent">
                            <div class="thumb-img">

                                <img src="/images/2021/dai-ly-thue.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>04</span></div>
                                    <div class="text-title">Tax agent</div>
                                    <a class="link-viewchitiet" href="/en/services/tax-agent/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/conducting-vat-refund-by-project/" title="Conducting VAT refund by project">
                            <div class="thumb-img">

                                <img src="/images/2021/hoan-thue-gtgt-du-an.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>05</span></div>
                                    <div class="text-title">Conducting VAT refund by project</div>
                                    <a class="link-viewchitiet" href="/en/services/conducting-vat-refund-by-project/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/consulting-business-establishment/" title="Consulting business Establishment">
                            <div class="thumb-img">

                                <img src="/images/2021/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>06</span></div>
                                    <div class="text-title">Consulting business Establishment</div>
                                    <a class="link-viewchitiet" href="/en/services/consulting-business-establishment/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/adjusting-and-amending-investment-licenses/" title="Adjusting and amending investment licenses">
                            <div class="thumb-img">

                                <img src="/images/2021/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>07</span></div>
                                    <div class="text-title">Adjusting and amending investment licenses</div>
                                    <a class="link-viewchitiet" href="/en/services/adjusting-and-amending-investment-licenses/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/merging-domestic-and-foreign-companies/" title="Merging domestic and foreign companies">
                            <div class="thumb-img">

                                <img src="/images/2021/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>08</span></div>
                                    <div class="text-title">Merging domestic and foreign companies</div>
                                    <a class="link-viewchitiet" href="/en/services/merging-domestic-and-foreign-companies/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/dissolution-of-the-company-suspend-operations/" title="Dissolution of the company, suspend operations">
                            <div class="thumb-img">

                                <img src="/images/2021/giai-the-cong-ty-tam-ngung-hoat-dong.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>09</span></div>
                                    <div class="text-title">Dissolution of the company, suspend operations</div>
                                    <a class="link-viewchitiet" href="/en/services/dissolution-of-the-company-suspend-operations/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="Setting up, consulting the accounting department, the accounting system">
                            <div class="thumb-img">

                                <img src="/images/2021/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>010</span></div>
                                    <div class="text-title">Setting up, consulting the accounting department, the accounting system</div>
                                    <a class="link-viewchitiet" href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/provide-accounting-software/" title="Provide accounting software">
                            <div class="thumb-img">

                                <img src="/images/2021/phan-mem-misa-hinh-lam.png" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>11</span></div>
                                    <div class="text-title">Provide accounting software</div>
                                    <a class="link-viewchitiet" href="/en/services/provide-accounting-software/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/provide-electronic-invoice-software/" title="Provide electronic invoice software">
                            <div class="thumb-img">

                                <img src="/images/2021/cung-cap-phan-mem-hoa-don-dien-tu-hinh-lam-2021.png" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>12</span></div>
                                    <div class="text-title">Provide electronic invoice software</div>
                                    <a class="link-viewchitiet" href="/en/services/provide-electronic-invoice-software/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/supply-digital-signature/" title="Supply digital signature">
                            <div class="thumb-img">

                                <img src="/images/2021/chu-ky-so-hinh-lam-2021-2_1.png" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>13</span></div>
                                    <div class="text-title">Supply digital signature</div>
                                    <a class="link-viewchitiet" href="/en/services/supply-digital-signature/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/supply-social-insurance-reporting-software/" title="Supply Social Insurance reporting software">
                            <div class="thumb-img">

                                <img src="/images/2021/img-service-1_22.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>14</span></div>
                                    <div class="text-title">Supply Social Insurance reporting software</div>
                                    <a class="link-viewchitiet" href="/en/services/supply-social-insurance-reporting-software/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/apply-for-work-permit-for-foreigners/" title="Apply for work permits for foreigners">
                            <div class="thumb-img">

                                <img src="/images/2021/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai_1.jpg" />


                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>15</span></div>
                                    <div class="text-title">Apply for work permits for foreigners</div>
                                    <a class="link-viewchitiet" href="/en/services/apply-for-work-permit-for-foreigners/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/apply-for-visa-for-foreigners/" title="Apply for visas for foreigners">
                            <div class="thumb-img">

                                <img src="/images/2021/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>16</span></div>
                                    <div class="text-title">Apply for visas for foreigners</div>
                                    <a class="link-viewchitiet" href="/en/services/apply-for-visa-for-foreigners/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="Apply for replacement driver's licenses for foreigners">
                            <div class="thumb-img">

                                <img src="/images/2021/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>17</span></div>
                                    <div class="text-title">Apply for replacement driver's licenses for foreigners</div>
                                    <a class="link-viewchitiet" href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-service">
                        <a href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="Providing services of applying for entry permits to Vietnam.">
                            <div class="thumb-img">

                                <img src="/images/2021/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam.jpg" />

                            </div>
                            <div class="summary-service">
                                <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                <div class="block-1">
                                    <div class="icon-number"><span>18</span></div>
                                    <div class="text-title">Providing services of applying for entry permits to Vietnam.</div>
                                    <a class="link-viewchitiet" href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="View More">View More</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row hightlight">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft">HINH LAM TAX CONSULTING SERVICE CO., LTD.</h3>
                        <p>Address: No. 40 N5 Street, Tan Binh Service Residential Area, Tan Binh Ward, Di An City, Binh Duong Province</p>
                        <p>Business registration No.: 3702862785 issued by Binh Duong Department of Planning and Investment on March 24, 2020</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft border-r"><span>Contact us</span></h3>
                        <div class="list-sp">
                            <div class="d-md-flex">
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0983204115"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0919 724872"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0919 724 872</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0274 6267789"><span><img src="/images/assets/images/icon/icon-phone.png" alt="" /></span><span>0274 626 77 89</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://www.facebook.com/Hinhlamtaxingaccouting" target="_blank" title="facebook"><span><img src="/images/assets/images/icon/icon-facebook.png" alt="facebook" /></span><span>fb.com/Hinhlamtaxingaccouting</span></a></div>

                                </div>
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="skype:dailythue_hinhlam?chat"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://api.whatsapp.com/send?phone=dailythe_hinhlam"><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <p>Copyright © 2020 Hinh Lam Tax Consulting Services Co., Ltd.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="link-footer">

                        <a href="/en/privacy-policy/" title="Privacy Policy">Privacy Policy</a>

                        <a href="/en/privacy/" title="Privacy and safety">Privacy and safety</a>

                    </div>

                    

                </div>
            </div>
        </div>
    </div>
    <div class="fix-right">
        <a href="tel:0983204115" title="">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-hotline.png" alt="Icon hotline">
            </span>
            <span class="text">
                0983204115
            </span>
        </a>
        <a href="/lien-he" class="show-contact" title="Thông tin liên hệ">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-lienhe.png" alt="Icon hotline">
            </span>
        </a>
    </div>
    <input id="itemTemplatePath" type="hidden" value="./">
    <script src="/themes/vip/scripts/dev/pages/home.js" defer></script>
    <script>
        $(function () {
            if ($('.pageTitle').length) {
                $('.pageBannerTitle').html($('.pageTitle').html());
                $('.breabcrumbs').html($('.breabcrumbsPath').html())
            }
        })
    </script>

</body>
</html>