@model HinhLam_DataObject.ViewModels.LanguageViewModel;

<div class="language">
    <a id="vnFlag" href="@Model.VietnameseLink"><img src="/themes/vip/img/flag-vn.png" alt="Vietnamese Flag"></a>
    <a id="enFlag" href="@Model.EnglishLink"><img src="/themes/vip/img/flag-en.png" alt="English Flag"></a>
    <a id="cnFlag" href="@Model.ChineseLink"><img src="/themes/vip/img/flag-cn.png" alt="Chinese Flag"></a>
</div>
