GO
CREATE TABLE [dbo].[Category](
	[CateId] [nvarchar](50) NOT NULL,
	[CateName] [nvarchar](100) NOT NULL,
	[CateNameEN] [nvarchar](100) NOT NULL,
	[CateNameCN] [nvarchar](100) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[Consult]    Script Date: 8/4/2023 9:06:32 AM ******/

GO
CREATE TABLE [dbo].[Consult](
	[ConsultId] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[CustomerCompany] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Contents] [ntext] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Response] [ntext] NULL,
	[ResponseStatus] [bit] NOT NULL,
	[ResponseDate] [datetime2](7) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Consult] PRIMARY KEY CLUSTERED 
(
	[ConsultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[Content]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[Content](
	[ContentID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Contents] [ntext] NOT NULL,
	[ContentsCN] [ntext] NOT NULL,
	[ContentsEN] [ntext] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[ContentCount] [int] NOT NULL,
	[TitleCN] [nvarchar](250) NOT NULL,
	[TitleEN] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[File]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[File](
	[FileId] [nvarchar](50) NOT NULL,
	[FileName] [nvarchar](150) NULL,
	[FileHref] [nvarchar](150) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IsPicture] [bit] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[FileContent]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[FileContent](
	[Id] [nvarchar](50) NOT NULL,
	[FileId] [nvarchar](50) NULL,
	[ContentId] [nvarchar](50) NULL,
 CONSTRAINT [PK_FileContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[FileMenu]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[FileMenu](
	[Id] [nvarchar](50) NOT NULL,
	[FileId] [nvarchar](50) NULL,
	[MenuId] [nvarchar](50) NULL,
 CONSTRAINT [PK_FileMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[FileNews]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[FileNews](
	[Id] [nvarchar](50) NOT NULL,
	[FileId] [nvarchar](50) NULL,
	[NewsId] [nvarchar](50) NULL,
 CONSTRAINT [PK_FileNews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[FileSubMenu]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[FileSubMenu](
	[Id] [nvarchar](50) NOT NULL,
	[FileId] [nvarchar](50) NULL,
	[SubMenuId] [nvarchar](50) NULL,
 CONSTRAINT [PK_FileSubMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Menu]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [nvarchar](50) NOT NULL,
	[MenuName] [nvarchar](100) NOT NULL,
	[MenuNameCN] [nvarchar](100) NOT NULL,
	[MenuNameEN] [nvarchar](100) NOT NULL,
	[CateId] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[MenuCount] [int] NOT NULL,
	[HrefLink] [nvarchar](100) NOT NULL,
	[HrefLinkCN] [nvarchar](100) NOT NULL,
	[HrefLinkEN] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[MenuSubMenu]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[MenuSubMenu](
	[Id] [nvarchar](450) NOT NULL,
	[MenuId] [nvarchar](50) NOT NULL,
	[SubMenuId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MenuSubMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[News]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[News](
	[NewsId] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[TitleCN] [nvarchar](150) NOT NULL,
	[TitleEN] [nvarchar](150) NOT NULL,
	[ShortDescription] [nvarchar](250) NULL,
	[ShortDescriptionEN] [nvarchar](250) NULL,
	[ShortDescriptionCN] [nvarchar](250) NULL,
	[LinkHref] [nvarchar](150) NOT NULL,
	[LinkHrefEN] [nvarchar](150) NOT NULL,
	[LinkHrefCN] [nvarchar](150) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[NewsContent]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[NewsContent](
	[Id] [nvarchar](50) NOT NULL,
	[NewsId] [nvarchar](50) NULL,
	[ContentId] [nvarchar](50) NULL,
 CONSTRAINT [PK_NewsContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[SubMenu]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[SubMenu](
	[SubMenuID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[TitleEN] [nvarchar](100) NULL,
	[TitleCN] [nvarchar](100) NULL,
	[Description] [ntext] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[SubMenuCount] [int] NOT NULL,
	[DescriptionCN] [ntext] NOT NULL,
	[DescriptionEN] [ntext] NOT NULL,
 CONSTRAINT [PK_SubMenu] PRIMARY KEY CLUSTERED 
(
	[SubMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[SubMenuContent]    Script Date: 8/4/2023 9:06:32 AM ******/
GO
CREATE TABLE [dbo].[SubMenuContent](
	[Id] [nvarchar](450) NOT NULL,
	[SubMenuId] [nvarchar](50) NOT NULL,
	[ContentId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SubMenuContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CateId], [CateName], [CateNameEN], [CateNameCN], [CreateDate], [Status]) VALUES (N'1', N'Dịch vụ kế toán và thuế', N'Accounting and Tax Services
', N'会计与税务服务', CAST(N'2023-01-22T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Category] ([CateId], [CateName], [CateNameEN], [CateNameCN], [CreateDate], [Status]) VALUES (N'2', N'Dịch vụ kế toán hệ thống', N'System Accounting Services
', N'Name2系统会计服务', CAST(N'2023-01-22T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Category] ([CateId], [CateName], [CateNameEN], [CateNameCN], [CreateDate], [Status]) VALUES (N'3', N'Phần mềm kế toán và hoá đơn điện tử', N'Accounting Software and Electronic Invoices
', N'会计软件与电子发票', CAST(N'2023-01-22T00:00:00.0000000' AS DateTime2), 1)
GO
INSERT [dbo].[File] ([FileId], [FileName], [FileHref], [CreateDate], [IsPicture], [Status]) VALUES (N'1', N'angiang-phucvu.png', N'/images/2021/angiang-phucvu.png', CAST(N'2023-07-31T12:50:25.8066667' AS DateTime2), 1, 1)
INSERT [dbo].[File] ([FileId], [FileName], [FileHref], [CreateDate], [IsPicture], [Status]) VALUES (N'10', N'cung-cap-phan-mem-hoa-don-dien-tu-hinh-lam-misa.png', N'/images/2021/cung-cap-phan-mem-hoa-don-dien-tu-hinh-lam-misa.png', CAST(N'2023-07-31T12:50:25.8066667' AS DateTime2), 1, 1)
INSERT [dbo].[File] ([FileId], [FileName], [FileHref], [CreateDate], [IsPicture], [Status]) VALUES (N'11', N'dai-ly-thue.jpg', N'/images/2021/dai-ly-thue.jpg', CAST(N'2023-07-31T12:50:25.8066667' AS DateTime2), 1, 1)
GO
INSERT [dbo].[FileMenu] ([Id], [FileId], [MenuId]) VALUES (N'1', N'20', N'1')
INSERT [dbo].[FileMenu] ([Id], [FileId], [MenuId]) VALUES (N'10', N'29', N'10')
INSERT [dbo].[FileMenu] ([Id], [FileId], [MenuId]) VALUES (N'11', N'26', N'11')
GO
INSERT [dbo].[FileNews] ([Id], [FileId], [NewsId]) VALUES (N'1111', N'1', N'1')
INSERT [dbo].[FileNews] ([Id], [FileId], [NewsId]) VALUES (N'1211', N'3', N'2')
INSERT [dbo].[FileNews] ([Id], [FileId], [NewsId]) VALUES (N'1311', N'16', N'3')
GO
INSERT [dbo].[Menu] ([MenuId], [MenuName], [MenuNameCN], [MenuNameEN], [CateId], [CreatedDate], [Status], [MenuCount], [HrefLink], [HrefLinkCN], [HrefLinkEN]) VALUES (N'1', N'Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế', N'會計賬簿、會計服務、退稅等故障排除', N'Troubleshooting accounting books', N'1', CAST(N'2023-07-12T00:00:00.0000000' AS DateTime2), 1, 1, N'/dich-vu/go-roi-so-sach-ke-toan-dich-vu-ke-toan-hoan-thue/', N'/cn/services-chinese/troubleshooting-accounting-books-chinese/', N'/en/services/troubleshooting-accounting-books/')
INSERT [dbo].[Menu] ([MenuId], [MenuName], [MenuNameCN], [MenuNameEN], [CateId], [CreatedDate], [Status], [MenuCount], [HrefLink], [HrefLinkCN], [HrefLinkEN]) VALUES (N'11', N'Cung cấp phần mềm kế toán', N'提供會計軟件', N'Provide accounting software', N'1', CAST(N'2023-07-12T00:00:00.0000000' AS DateTime2), 1, 11, N'/dich-vu/cung-cap-phan-mem-ke-toan/', N'/cn/services-chinese/provide-accounting-software-3/', N'/en/services/provide-accounting-software/')
GO
INSERT [dbo].[MenuSubMenu] ([Id], [MenuId], [SubMenuId]) VALUES (N'1', N'1', N'1')
INSERT [dbo].[MenuSubMenu] ([Id], [MenuId], [SubMenuId]) VALUES (N'10', N'9', N'10')
INSERT [dbo].[MenuSubMenu] ([Id], [MenuId], [SubMenuId]) VALUES (N'11', N'9', N'11')
GO
INSERT [dbo].[NewsContent] ([Id], [NewsId], [ContentId]) VALUES (N'1', N'1', N'58')
INSERT [dbo].[NewsContent] ([Id], [NewsId], [ContentId]) VALUES (N'2', N'1', N'59')
INSERT [dbo].[NewsContent] ([Id], [NewsId], [ContentId]) VALUES (N'3', N'1', N'60')
GO
INSERT [dbo].[SubMenu] ([SubMenuID], [Title], [TitleEN], [TitleCN], [Description], [CreatedDate], [Status], [SubMenuCount], [DescriptionCN], [DescriptionEN]) VALUES (N'10', N'Giải thể công ty, tạm ngưng hoạt động', N'Carrying out procedures for dissolving the company and suspending the business operation', N'公司解散，暫停營業', N'null', CAST(N'2023-01-12T00:00:00.0000000' AS DateTime2), 1, 1, N'null', N'null')
INSERT [dbo].[SubMenu] ([SubMenuID], [Title], [TitleEN], [TitleCN], [Description], [CreatedDate], [Status], [SubMenuCount], [DescriptionCN], [DescriptionEN]) VALUES (N'11', N'GIẢI THỂ DOANH NGHIỆP', N'ENTERPRISE DISSOLUTION', N'企業解散', N'null', CAST(N'2023-01-12T00:00:00.0000000' AS DateTime2), 1, 2, N'null', N'null')
GO
INSERT [dbo].[SubMenuContent] ([Id], [SubMenuId], [ContentId]) VALUES (N'1', N'1', N'1')
INSERT [dbo].[SubMenuContent] ([Id], [SubMenuId], [ContentId]) VALUES (N'10', N'4', N'10')
INSERT [dbo].[SubMenuContent] ([Id], [SubMenuId], [ContentId]) VALUES (N'11', N'5', N'11')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MenuSubMenu_MenuId]    Script Date: 8/4/2023 9:06:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_MenuSubMenu_MenuId] ON [dbo].[MenuSubMenu]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MenuSubMenu_SubMenuId]    Script Date: 8/4/2023 9:06:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_MenuSubMenu_SubMenuId] ON [dbo].[MenuSubMenu]
(
	[SubMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SubMenuContent_ContentId]    Script Date: 8/4/2023 9:06:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubMenuContent_ContentId] ON [dbo].[SubMenuContent]
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SubMenuContent_SubMenuId]    Script Date: 8/4/2023 9:06:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubMenuContent_SubMenuId] ON [dbo].[SubMenuContent]
(
	[SubMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Content] ADD  CONSTRAINT [DF__Content__Content__49C3F6B7]  DEFAULT ((0)) FOR [ContentCount]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF__Menu__MenuCount__48CFD27E]  DEFAULT ((0)) FOR [MenuCount]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF__Menu__HrefLink__5AEE82B9]  DEFAULT (N'') FOR [HrefLink]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF__Menu__HrefLinkCN__5BE2A6F2]  DEFAULT (N'') FOR [HrefLinkCN]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF__Menu__HrefLinkEN__5CD6CB2B]  DEFAULT (N'') FOR [HrefLinkEN]
GO
ALTER TABLE [dbo].[SubMenu] ADD  CONSTRAINT [DF__SubMenu__SubMenu__47DBAE45]  DEFAULT ((0)) FOR [SubMenuCount]
GO
ALTER TABLE [dbo].[SubMenu] ADD  DEFAULT (N'') FOR [DescriptionCN]
GO
ALTER TABLE [dbo].[SubMenu] ADD  DEFAULT (N'') FOR [DescriptionEN]
GO
ALTER TABLE [dbo].[FileContent]  WITH CHECK ADD  CONSTRAINT [FK_FileContent_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([ContentID])
GO
ALTER TABLE [dbo].[FileContent] CHECK CONSTRAINT [FK_FileContent_Content]
GO
ALTER TABLE [dbo].[FileContent]  WITH CHECK ADD  CONSTRAINT [FK_FileContent_File] FOREIGN KEY([FileId])
REFERENCES [dbo].[File] ([FileId])
GO
ALTER TABLE [dbo].[FileContent] CHECK CONSTRAINT [FK_FileContent_File]
GO
ALTER TABLE [dbo].[FileMenu]  WITH CHECK ADD  CONSTRAINT [FK_FileMenu_File1] FOREIGN KEY([FileId])
REFERENCES [dbo].[File] ([FileId])
GO
ALTER TABLE [dbo].[FileMenu] CHECK CONSTRAINT [FK_FileMenu_File1]
GO
ALTER TABLE [dbo].[FileMenu]  WITH CHECK ADD  CONSTRAINT [FK_FileMenu_Menu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[FileMenu] CHECK CONSTRAINT [FK_FileMenu_Menu]
GO
ALTER TABLE [dbo].[FileNews]  WITH CHECK ADD  CONSTRAINT [FK_FileNews_File] FOREIGN KEY([FileId])
REFERENCES [dbo].[File] ([FileId])
GO
ALTER TABLE [dbo].[FileNews] CHECK CONSTRAINT [FK_FileNews_File]
GO
ALTER TABLE [dbo].[FileNews]  WITH CHECK ADD  CONSTRAINT [FK_FileNews_News] FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([NewsId])
GO
ALTER TABLE [dbo].[FileNews] CHECK CONSTRAINT [FK_FileNews_News]
GO
ALTER TABLE [dbo].[FileSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_FileSubMenu_File] FOREIGN KEY([Id])
REFERENCES [dbo].[File] ([FileId])
GO
ALTER TABLE [dbo].[FileSubMenu] CHECK CONSTRAINT [FK_FileSubMenu_File]
GO
ALTER TABLE [dbo].[FileSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_FileSubMenu_SubMenu] FOREIGN KEY([SubMenuId])
REFERENCES [dbo].[SubMenu] ([SubMenuID])
GO
ALTER TABLE [dbo].[FileSubMenu] CHECK CONSTRAINT [FK_FileSubMenu_SubMenu]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Category] FOREIGN KEY([CateId])
REFERENCES [dbo].[Category] ([CateId])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Category]
GO
ALTER TABLE [dbo].[MenuSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_MenuSubMenu_Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuSubMenu] CHECK CONSTRAINT [FK_MenuSubMenu_Menu_MenuId]
GO
ALTER TABLE [dbo].[MenuSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_MenuSubMenu_SubMenu_SubMenuId] FOREIGN KEY([SubMenuId])
REFERENCES [dbo].[SubMenu] ([SubMenuID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuSubMenu] CHECK CONSTRAINT [FK_MenuSubMenu_SubMenu_SubMenuId]
GO
ALTER TABLE [dbo].[NewsContent]  WITH CHECK ADD  CONSTRAINT [FK_NewsContent_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([ContentID])
GO
ALTER TABLE [dbo].[NewsContent] CHECK CONSTRAINT [FK_NewsContent_Content]
GO
ALTER TABLE [dbo].[NewsContent]  WITH CHECK ADD  CONSTRAINT [FK_NewsContent_News] FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([NewsId])
GO
ALTER TABLE [dbo].[NewsContent] CHECK CONSTRAINT [FK_NewsContent_News]
GO
ALTER TABLE [dbo].[SubMenuContent]  WITH CHECK ADD  CONSTRAINT [FK_SubMenuContent_Content_ContentId] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([ContentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubMenuContent] CHECK CONSTRAINT [FK_SubMenuContent_Content_ContentId]
GO
ALTER TABLE [dbo].[SubMenuContent]  WITH CHECK ADD  CONSTRAINT [FK_SubMenuContent_SubMenu_SubMenuId] FOREIGN KEY([SubMenuId])
REFERENCES [dbo].[SubMenu] ([SubMenuID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubMenuContent] CHECK CONSTRAINT [FK_SubMenuContent_SubMenu_SubMenuId]

