@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/cn/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/logo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/gioi-thieu/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/about-us/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/about-us-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/cn/" title="主頁">主頁</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/about-us-chinese/" title="介紹">介紹</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/services-chinese/" title="服務">服務</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/troubleshooting-accounting-books-chinese/" title="會計賬簿、會計服務、退稅等故障排除">會計賬簿、會計服務、退稅等故障排除</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/providing-complete-package-accounting-service/" title="提供全套的會計服務">提供全套的會計服務</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/training-practical-accountants-chinese/" title="實務會計培訓">實務會計培訓</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/tax-agent-chinese/" title="稅務代理">稅務代理</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/conducting-vat-refund-by-project-chinese/" title="項目增值稅退稅">項目增值稅退稅</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/consulting-business-establishment/" title="成立越南和外國企業">成立越南和外國企業</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/adjusting-and-amending-investment-licenses/" title="營業執照、投資執照的調整和變更">營業執照、投資執照的調整和變更</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/merging-domestic-and-foreign-companies-hinh-lam/" title="合併國內外公司">合併國內外公司</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/dissolution-of-the-company-suspend-operations-1/" title="公司解散，暫停營業">公司解散，暫停營業</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/setting-up-consulting-the-accounting-department-the-accounting-system-2/" title="設立、諮詢會計部門、會計系統">設立、諮詢會計部門、會計系統</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/provide-accounting-software-3/" title="提供會計軟件">提供會計軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/provide-electronic-invoice-software-2/" title="提供電子發票軟件">提供電子發票軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/supply-digital-signature/" title="提供數字簽名">提供數字簽名</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/supply-social-insurance-reporting-software/" title="提供社會保險報告軟件">提供社會保險報告軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-work-permit-for-foreigners/" title="為外國人申請工作許可證">為外國人申請工作許可證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-visa-for-foreigners/" title="為外國人申請簽證">為外國人申請簽證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-replacement-drivers-license-for-foreigners/" title="為外國人申請駕駛證">為外國人申請駕駛證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/providing-services-of-applying-for-entry-to-vietnam/" title="提供申請越南入境許可的服務">提供申請越南入境許可的服務</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/news-chinese/" title="新聞">新聞</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/careers-chinese/" title="招聘">招聘</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/contact-chinese/" title="聯繫">聯繫</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">主頁</a>

        <span>介紹</span>

    </div>

    <div class="pageTitle hidden">介紹</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">關於鑫藍</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                        <p><img src="/images/2021/hinh-lam-cung-cap-dich-vu-ke-toan-tron-goi.jpg" alt="" width="920" height="500" /></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span>鑫藍公司是一家專業提供會計服務，稅務，勞動管理和投資諮詢的外國投資者在越南的企業。以“與您同行”為口號，我們公司為在過去有效地支持客戶而感到自豪。</span></span></span></span></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">交易名稱：</span></span></span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">HINH LAM TAX CONSULT SERVICE COMPANY LIMITED</span></span></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">稅號：</span></span></span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">3702862785</span></span></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: SimSun;"><span lang="zh-CN"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">地址：</span></span></span><span><span style="color: #333333;"><span><span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span><strong>越南，平陽省，夷安市，新平坊，</strong></span></span></span></span></span></span></span></span><span><span style="color: #333333;"><span><span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span><strong>新平服務住宅區</strong></span></span></span></span></span></span></span><span><span style="color: #333333;"><span><span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span><strong>，</strong></span></span></span></span></span></span></span></span></span></span><span><span style="color: #333333;"><span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span><span lang="en-US"><span><strong>N5</strong></span></span></span></span></span><span style="font-family: SimSun;"><span lang="zh-CN"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span><strong>路，</strong></span></span></span></span></span></span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="en-US"><span><strong>40</strong></span></span></span></span><span style="font-family: SimSun;"><span lang="zh-CN"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span><strong>號。</strong></span></span></span></span></span></span></span></span></span></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: SimSun;"><span lang="zh-CN"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">法定代表人：阮氏</span></span></span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">垂</span></span></span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">陽</span></span></span></span></span></p>
                        <p lang="en-US" align="justify"> </p>
                    </div>


                </div>
            </div>

        </div>
    </div>
    
</body>