@model List<MenuInfoModel>;
@using HinhLam_DataObject.Models;
@using HinhLam_DataObject.ViewModels;
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_LayoutCN.cshtml";
}


<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    
    <div class="language">
        <a id="vnFlag" href="/"><img src="/themes/vip/img/flag-vn.png"></a>
        <a id="enFlag" href="/en/"><img src="/themes/vip/img/flag-en.png"></a>
        <a id="cnFlag" href="/cn/"><img src="/themes/vip/img/flag-cn.png"></a>
    </div>

    <div class="section-banner">

        <img src="/images/b/banner-inner.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">主頁</a>

        <span>介紹</span>

    </div>

    <div class="pageTitle hidden">介紹</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">關於鑫藍</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                        <p><img src="/images/2021/hinh-lam-cung-cap-dich-vu-ke-toan-tron-goi.jpg" alt="" width="920" height="500" /></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span>鑫藍公司是一家專業提供會計服務，稅務，勞動管理和投資諮詢的外國投資者在越南的企業。以“與您同行”為口號，我們公司為在過去有效地支持客戶而感到自豪。</span></span></span></span></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">交易名稱：</span></span></span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">HINH LAM TAX CONSULT SERVICE COMPANY LIMITED</span></span></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">稅號：</span></span></span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">3702862785</span></span></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: SimSun;"><span lang="zh-CN"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">地址：</span></span></span><span><span style="color: #333333;"><span><span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span><strong>越南，平陽省，夷安市，新平坊，</strong></span></span></span></span></span></span></span></span><span><span style="color: #333333;"><span><span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span><strong>新平服務住宅區</strong></span></span></span></span></span></span></span><span><span style="color: #333333;"><span><span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span><strong>，</strong></span></span></span></span></span></span></span></span></span></span><span><span style="color: #333333;"><span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span><span lang="en-US"><span><strong>N5</strong></span></span></span></span></span><span style="font-family: SimSun;"><span lang="zh-CN"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span><strong>路，</strong></span></span></span></span></span></span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="en-US"><span><strong>40</strong></span></span></span></span><span style="font-family: SimSun;"><span lang="zh-CN"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW"><span><strong>號。</strong></span></span></span></span></span></span></span></span></span></p>
                        <p class="western" lang="en-US" align="justify"><span style="font-family: SimSun;"><span lang="zh-CN"><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">法定代表人：阮氏</span></span></span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">垂</span></span></span><span style="font-family: PMingLiU;"><span style="font-size: medium;"><span lang="zh-TW">陽</span></span></span></span></span></p>
                        <p lang="en-US" align="justify"> </p>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute("href", "gioi-thieu");
            document.getElementById('enFlag').setAttribute("href", "/en/about-us");
            document.getElementById('cnFlag').setAttribute("href", "/cn/about-us-chines");
        });
    </script>
</body>