@model List<MenuInfoModel>;
@using HinhLam_DataObject.Models;
@using HinhLam_DataObject.ViewModels;
@{
    ViewData["Title"] = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>

    

    <div class="section-banner">

        <img src="/images/b/banner-inner.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Giới thiệu</span>

    </div>

    <div class="pageTitle hidden">Giới thiệu</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">Về Hinh Lam</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                        <p><img src="/images/2021/hinh-lam-cung-cap-dich-vu-ke-toan-tron-goi.jpg" alt="" width="920" height="500" /></p>
                        <p>Công ty Hinh Lam là doanh nghiệp chuyên cung cấp dịch vụ kế toán, thuế, tư vấn về quản lý lao động và đầu tư cho các nhà đầu tư nước ngoài tại Việt Nam. Với khẩu hiệu “Luôn đồng hành cùng bạn” Công ty chúng tôi tự hào đã hỗ trợ hiệu quả cho khách hàng trong suốt thời gian qua.</p>
                        <p><span>Tên giao dịch: <strong>HINH LAM TAX CONSULT SERVICE COMPANY LIMITED</strong></span><br /><span>Mã số thuế: </span><strong>3702862785</strong><br /><span>Địa chỉ: <strong>Số 40, đường N5, Khu dân cư dịch vụ Tân Bình, Phường Tân Bình, Thành phố Dĩ An, Tỉnh Bình Dương</strong></span><br /><span>Đại diện pháp luật: <strong>Nguyễn Thị Thùy Dương</strong></span><span><br /><br /></span></p>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute("href", "/gioi-thieu");
            document.getElementById('enFlag').setAttribute("href", "/en/about-us");
            document.getElementById('cnFlag').setAttribute("href", "/cn/about-us-chinese");
        });
    </script>
</body>