@model List<MenuInfoModel>;
@using HinhLam_DataObject.Model;
@using HinhLam_DataObject.ViewModels;
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="section-banner">

        <img src="/images/b/banner-inner.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <span>About us</span>

    </div>

    <div class="pageTitle hidden">About us</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">About us</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                        <p><img src="/images/2021/hinh-lam-cung-cap-dich-vu-ke-toan-tron-goi.jpg" alt="" width="920" height="500" /></p>
                        <p><strong>HINH LAM TAX CONSULT SERVICE COMPANY LIMITED</strong></p>
                        <p>Tax: <strong>3702862785</strong></p>
                        <p><span>Address: No. 40 N5 Street, Tan Binh Service Residential Area, Tan Binh Ward, Di An City, Binh Duong Province</span></p>
                        <p><span>CEO: <strong>Nguyễn Thị Thùy Dương</strong></span></p>
                        <p>HINH LAM specializes in providing accounting, tax, labor, and investment consulting services to foreign investors in Vietnam. With the slogan "Always accompanying, always sharing." our company is proud to have served customers effectively during the past time.</p>
                    </div>


                </div>
            </div>

        </div>
    </div>
</body>