@{
    ViewData["Title"] = "Chính sách bảo mật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <div class="content-container body-container">
        <h3>Chính Sách Bảo Mật và An Toàn</h3>
        <p>Tại Hinh Lam Tax And Accounting, chúng tôi coi trọng việc bảo vệ quyền riêng tư và an toàn thông tin của bạn. Trang này trình bày cam kết của chúng tôi trong việc bảo mật thông tin cá nhân của bạn và duy trì tính bảo mật dữ liệu của bạn. Xin vui lòng dành chút thời gian để xem xét thông tin sau đây.</p>

        <h4>1. Thu thập và Sử dụng Dữ liệu:</h4>
        <p>Chúng tôi chỉ thu thập thông tin cần thiết để cung cấp dịch vụ hoặc cải thiện trải nghiệm của bạn trên nền tảng của chúng tôi. Điều này có thể bao gồm tên của bạn, thông tin liên hệ và những chi tiết liên quan khác. Chúng tôi sẽ không bao giờ chia sẻ hoặc bán thông tin cá nhân của bạn cho bên thứ ba mà không có sự đồng ý rõ ràng của bạn.</p>

        <h4>2. Bảo Vệ Dữ liệu:</h4>
        <p>Chúng tôi sử dụng các biện pháp bảo mật tiêu chuẩn ngành để bảo vệ dữ liệu của bạn khỏi việc truy cập, sửa đổi hoặc tiết lộ trái phép. Hệ thống của chúng tôi được theo dõi và cập nhật thường xuyên để đảm bảo thông tin của bạn luôn an toàn.</p>

        <h4>3. Giao dịch An toàn:</h4>
        <p>Khi bạn tham gia vào các giao dịch thông qua nền tảng của chúng tôi, chi tiết thanh toán của bạn được mã hóa bằng công nghệ lớp bảo mật socket layer (SSL) để đảm bảo tính bảo mật và toàn vẹn của thông tin tài chính của bạn.</p>

        <h3>4. Cookies và Theo dõi:</h3>
        <p>Chúng tôi có thể sử dụng cookies và các công nghệ tương tự để tăng cường trải nghiệm duyệt web của bạn và thu thập thông tin về cách bạn sử dụng trang web của chúng tôi. Các công cụ này giúp chúng tôi cải thiện dịch vụ và tùy chỉnh nội dung phù hợp với sở thích của bạn. Bạn có thể quản lý sự ưa thích về cookie qua cài đặt trình duyệt của mình.</p>

        <h4>5. Liên Hệ Chúng Tôi:</h4>
        <p>Nếu bạn có bất kỳ câu hỏi, lo ngại hoặc yêu cầu nào liên quan đến quyền riêng tư và an ninh của bạn, xin vui lòng liên hệ với Đội Bảo Mật của chúng tôi tại <a href="/lien-he">Liên Hệ Chúng Tôi</a>.</p>

        <p>Sự tin tưởng của bạn là rất quan trọng đối với chúng tôi. Cảm ơn bạn đã lựa chọn Hinh Lam Tax And Accounting.</p>

        <p>Cập nhật lần cuối: 23/08/2023</p>
    </div>

</body>