@model List<MenuInfoModel>;
@using HinhLam_DataObject.Model;
@using HinhLam_DataObject.ViewModels;
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
   

    <div class="section-banner-homepage">
        <ul>

            <li><img src="/images/b/ke-toan-hinh-lam-b8.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b9.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b5.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b6.jpg" alt=""></li>
        </ul>
    </div>


    <div class="section-service">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="homepage-heading-service">

                        <h3 class="title-1"><span>鑫藍的服務</ span></h3>

                        <p class="text-center">我們在業務的每個階段提供完整的服務包：加入、建立、運營、擴張、合併收購和退出。</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="homepage-service-list">
                        <div class="thumb-img"><img src="/images/assets/img-service.jpg" alt=""></div>
                        <div class="list-service">

                            <ul>

                                <li class="acitve-items" style=""><a href="/cn/services-chinese/troubleshooting-accounting-books-chinese/" title="會計賬簿、會計服務、退稅等故障排除">會計賬簿、會計服務、退稅等故障排除</a></li>

                                <li class="" style=""><a href="/cn/services-chinese/providing-complete-package-accounting-service/" title="提供全套的會計服務">提供全套的會計服務</a></li>

                                <li class="" style=""><a href="/cn/services-chinese/training-practical-accountants-chinese/" title="實務會計培訓">實務會計培訓</a></li>

                                <li class="" style=""><a href="/cn/services-chinese/tax-agent-chinese/" title="稅務代理">稅務代理</a></li>

                                <li class="" style=""><a href="/cn/services-chinese/conducting-vat-refund-by-project-chinese/" title="項目增值稅退稅">項目增值稅退稅</a></li>

                                <li class="" style=""><a href="/cn/services-chinese/consulting-business-establishment/" title="成立越南和外國企業">成立越南和外國企業</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/adjusting-and-amending-investment-licenses/" title="營業執照、投資執照的調整和變更">營業執照、投資執照的調整和變更</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/merging-domestic-and-foreign-companies-hinh-lam/" title="合併國內外公司">合併國內外公司</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/dissolution-of-the-company-suspend-operations-1/" title="公司解散，暫停營業">公司解散，暫停營業</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/setting-up-consulting-the-accounting-department-the-accounting-system-2/" title="設立、諮詢會計部門、會計系統">設立、諮詢會計部門、會計系統</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/provide-accounting-software-3/" title="提供會計軟件">提供會計軟件</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/provide-electronic-invoice-software-2/" title="提供電子發票軟件">提供電子發票軟件</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/supply-digital-signature/" title="提供數字簽名">提供數字簽名</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/supply-social-insurance-reporting-software/" title="提供社會保險報告軟件">提供社會保險報告軟件</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/apply-for-work-permit-for-foreigners/" title="為外國人申請工作許可證">為外國人申請工作許可證</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/apply-for-visa-for-foreigners/" title="為外國人申請簽證">為外國人申請簽證</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/apply-for-replacement-drivers-license-for-foreigners/" title="為外國人申請駕駛證">為外國人申請駕駛證</a></li>

                                <li class="" style="display:none"><a href="/cn/services-chinese/providing-services-of-applying-for-entry-to-vietnam/" title="提供申請越南入境許可的服務">提供申請越南入境許可的服務</a></li>

                            </ul><a class="btn-viewall" href="/cn/services-chinese/" title="Xem tất cả"><span>Xem tất cả</span><span><img src="/images/assets/images/icon/icon-view-all.png" alt=""></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="homepage-item-about">
                        <div class="thumb-about"><img src="/images/assets/img-about-us.jpg" alt=""></div>
                        <div class="homepage-about-content">

                            <h3> <span>關於鑫藍</span></h3>
                            <p><p>鑫藍公司是一家專業提供會計服務，稅務，勞動管理和投資諮詢的外國投資者在越南的企業。以“與您同行”為口號，我們公司為在過去有效地支持客戶而感到自豪。</p></p><a class="link-timhieu" href="/cn/about-us-chinese/about-us-chinese.html" title="了解更多關於我們">了解更多關於我們</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-logo-partner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-logo">
                        <div class="item-logo"><img src="/images/assets/logo-list-1.png" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-list-1.png" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-list-1.png" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-list-1.png" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-list-1.png" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-client-review">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-review">

                        <div class="item-review">
                            <div class="thumb-img"><img src="/images/2021/img-ykien-khach-hang_4.jpg" alt="Ms. Lana" /></div>
                            <div class="block-content-review">
                                <h3> <span>顧客評論</span></h3>
                                <div class="content-review">
                                    <p>我對鑫藍的會計服務非常放心。對我來說，鑫藍敬業、細緻、周到，總是為我們提供正確的解決方案。</p>
                                    <p class="client-name"> <strong>- Ms. Lana</strong></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-contact-homepage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="title-2"><span>接觸</span></h3>
                    <div class="w-680">
                        <h4 class="sub-title-2">您需要鑫藍公司諮詢其中一項的服務.</h4>
                        <p>
                            請致電0983204115或填寫下表</ p>
                            <form class="homepage-frm-contact" method="post" action="/cn/contact-chinese/">
                                <input type="hidden" name="submit" value="1" />
                                <input class="input-text" type="text" name="email" placeholder="您的電子郵件">
                                <input class="btn-submit" type="submit" value="發送">
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-homepage-news">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="left-news-homepage">
                        <h3 class="homepage-title-news"> <span>新聞</span></h3>
                        <p>會計、稅務申報的一些專業信息介紹. 以及服務於業務對象的最新稅收政策</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <div class="homepage-items-news">
                                <div class="thumb-img"><a class="link-news-detail" href="/cn/news-chinese/troubleshooting-accounting-books-accounting-services-tax-refund-chinese.html" title="嚴禁從被審計單位獲得支持"><img src="/images/2021/angiang-phucvu.png" alt="嚴禁從被審計單位獲得支持" /></a></div>
                                <div class="summary-news">
                                    <a href="/cn/news-chinese/troubleshooting-accounting-books-accounting-services-tax-refund-chinese.html" title="嚴禁從被審計單位獲得支持">嚴禁從被審計單位獲得支持</a>
                                    <a class="d-flex btn-news-details" href="/cn/news-chinese/troubleshooting-accounting-books-accounting-services-tax-refund-chinese.html" title="查看更多"><span>查看更多</span><span> <img src="/images/assets/images/icon/arrow-detail-news.png" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="homepage-items-news">
                                <div class="thumb-img"><a class="link-news-detail" href="/cn/news-chinese/18cccd.html" title="越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。"><img src="/images/2021/chi-phi-ban-hang.png" alt="越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。" /></a></div>
                                <div class="summary-news">
                                    <a href="/cn/news-chinese/18cccd.html" title="越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。">越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。</a>
                                    <a class="d-flex btn-news-details" href="/cn/news-chinese/18cccd.html" title="查看更多"><span>查看更多</span><span> <img src="/images/assets/images/icon/arrow-detail-news.png" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
