@{
    ViewData["Title"] = "Services";
    Layout = null;
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/themes/vip/css/style.css" type="text/css" />
    <title>Home</title>
    <meta name="generator" content="vFramework 1.10.0 (https://vipcom.vn)" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="">
    <link rel="icon" type="image/gif" href="/images/assets/newlogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="manifest" href="/themes/vip/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css ./assets/styles/internal.min.css inline-->
    <style>
        body {
            color: #333
        }</style>
    <link rel="stylesheet" href="/themes/vip/assets/styles/main.min.css" />
    <link rel="stylesheet" href="/themes/vip//css/fixstyle.css" />
    <!-- main:js -->
    <script src="/themes/vip/scripts/main.min.js"></script><!-- endinject -->
</head>
<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/en/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/en/" title="Home">Home</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/about-us/" title="About us">About us</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/services/" title="Services">Services</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/en/services/troubleshooting-accounting-books/" title="Troubleshooting accounting books">Troubleshooting accounting books</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-complete-package-accounting-service/" title="Providing complete-package accounting service">Providing complete-package accounting service</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/training-practical-accountants/" title="Training practical accountants">Training practical accountants</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/tax-agent/" title="Tax agent">Tax agent</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/conducting-vat-refund-by-project/" title="Conducting VAT refund by project">Conducting VAT refund by project</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/consulting-business-establishment/" title="Consulting business Establishment">Consulting business Establishment</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/adjusting-and-amending-investment-licenses/" title="Adjusting and amending investment licenses">Adjusting and amending investment licenses</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/merging-domestic-and-foreign-companies/" title="Merging domestic and foreign companies">Merging domestic and foreign companies</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/dissolution-of-the-company-suspend-operations/" title="Dissolution of the company, suspend operations">Dissolution of the company, suspend operations</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="Setting up, consulting the accounting department, the accounting system">Setting up, consulting the accounting department, the accounting system</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-accounting-software/" title="Provide accounting software">Provide accounting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-electronic-invoice-software/" title="Provide electronic invoice software">Provide electronic invoice software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-digital-signature/" title="Supply digital signature">Supply digital signature</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-social-insurance-reporting-software/" title="Supply Social Insurance reporting software">Supply Social Insurance reporting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-work-permit-for-foreigners/" title="Apply for work permits for foreigners">Apply for work permits for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-visa-for-foreigners/" title="Apply for visas for foreigners">Apply for visas for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="Apply for replacement driver's licenses for foreigners">Apply for replacement driver's licenses for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="Providing services of applying for entry permits to Vietnam.">Providing services of applying for entry permits to Vietnam.</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/news/" title="Info">Info</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/careers/" title="Careers">Careers</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/contact/" title="Contact">Contact</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner-homepage">
        <ul>

            <li><img src="/images/b/ke-toan-hinh-lam-b8.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b9.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b5.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b6.jpg" alt=""></li>

    </div>


    <div class="section-service">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="homepage-heading-service">

                        <h3 class="title-1"><span>Hinh Lam</span>’s Services</h3>

                        <p class="text-center">We offer complete-package service at every stage of the business: Entering, establishing, operating, expanding, merging, and withdrawing from the market.</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="homepage-service-list">
                        <div class="thumb-img">
                            <img src="/images/2021/img-service-1_9.jpg" />
                        </div>
                        <div class="list-service">

                            <ul>

                                <li class="acitve-items" style=""><a href="/en/services/troubleshooting-accounting-books/" title="Troubleshooting accounting books">Troubleshooting accounting books</a></li>

                                <li class="" style=""><a href="/en/services/providing-complete-package-accounting-service/" title="Providing complete-package accounting service">Providing complete-package accounting service</a></li>

                                <li class="" style=""><a href="/en/services/training-practical-accountants/" title="Training practical accountants">Training practical accountants</a></li>

                                <li class="" style=""><a href="/en/services/tax-agent/" title="Tax agent">Tax agent</a></li>

                                <li class="" style=""><a href="/en/services/conducting-vat-refund-by-project/" title="Conducting VAT refund by project">Conducting VAT refund by project</a></li>

                                <li class="" style=""><a href="/en/services/consulting-business-establishment/" title="Consulting business Establishment">Consulting business Establishment</a></li>

                                <li class="" style="display:none"><a href="/en/services/adjusting-and-amending-investment-licenses/" title="Adjusting and amending investment licenses">Adjusting and amending investment licenses</a></li>

                                <li class="" style="display:none"><a href="/en/services/merging-domestic-and-foreign-companies/" title="Merging domestic and foreign companies">Merging domestic and foreign companies</a></li>

                                <li class="" style="display:none"><a href="/en/services/dissolution-of-the-company-suspend-operations/" title="Dissolution of the company, suspend operations">Dissolution of the company, suspend operations</a></li>

                                <li class="" style="display:none"><a href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="Setting up, consulting the accounting department, the accounting system">Setting up, consulting the accounting department, the accounting system</a></li>

                                <li class="" style="display:none"><a href="/en/services/provide-accounting-software/" title="Provide accounting software">Provide accounting software</a></li>

                                <li class="" style="display:none"><a href="/en/services/provide-electronic-invoice-software/" title="Provide electronic invoice software">Provide electronic invoice software</a></li>

                                <li class="" style="display:none"><a href="/en/services/supply-digital-signature/" title="Supply digital signature">Supply digital signature</a></li>

                                <li class="" style="display:none"><a href="/en/services/supply-social-insurance-reporting-software/" title="Supply Social Insurance reporting software">Supply Social Insurance reporting software</a></li>

                                <li class="" style="display:none"><a href="/en/services/apply-for-work-permit-for-foreigners/" title="Apply for work permits for foreigners">Apply for work permits for foreigners</a></li>

                                <li class="" style="display:none"><a href="/en/services/apply-for-visa-for-foreigners/" title="Apply for visas for foreigners">Apply for visas for foreigners</a></li>

                                <li class="" style="display:none"><a href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="Apply for replacement driver's licenses for foreigners">Apply for replacement driver's licenses for foreigners</a></li>

                                <li class="" style="display:none"><a href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="Providing services of applying for entry permits to Vietnam.">Providing services of applying for entry permits to Vietnam.</a></li>

                            </ul><a class="btn-viewall" href="/en/services/" title="View All"><span>View All</span><span><img src="/images/assets/images/icon/icon-view-all.png" alt=""></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="homepage-item-about">
                        <div class="thumb-about"><img src="/images/assets/img-about-us.jpg" alt=""></div>
                        <div class="homepage-about-content">

                            <h3> <span>About us</span></h3>
                            <p><p>HINH LAM specializes in providing accounting, tax, labor, and investment consulting services to foreign investors in Vietnam. With the slogan &quot;Always accompanying, always sharing.&quot; our company is proud to have served customers effectively during the past time.</p></p><a class="link-timhieu" href="/en/about-us/about-us.html" title="About Hinh Lam">About Hinh Lam</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-logo-partner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-logo">
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-client-review">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-review">

                        <div class="item-review">
                            <div class="thumb-img"><img src="/images/2021/img-ykien-khach-hang_1_3.jpg" alt="Ms. Lana / Vincorp" /></div>
                            <div class="block-content-review">
                                <h3> <span>Review</span></h3>
                                <div class="content-review">
                                    <p>I am completely assured of HINH LAM's accounting services. For me, HINH LAM is very dedicated, meticulous, thoughtful. Always giving suitable solutions.</p>
                                    <p class="client-name"> <strong>- Ms. Lana / Vincorp</strong></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-contact-homepage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="title-2"><span>Contact us</span></h3>
                    <div class="w-680">
                        <h4 class="sub-title-2">ARE YOU INQUIRED WITH ONE OF THE BLOOD'S SERVICES?</h4>
                        <p>Please call 0983 204115 or complete the information form below!</p>
                        <form class="homepage-frm-contact" method="post" action="/en/contact/">
                            <input type="hidden" name="submit" value="1" />
                            <input class="input-text" type="text" name="email" placeholder="Your Email">
                            <input class="btn-submit" type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-homepage-news">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="left-news-homepage">
                        <h3 class="homepage-title-news"> <span>News</span></h3>
                        <p>Introduce some specialized information on Accounting, Tax Declaration <br> And the latest tax policies for businesses</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <div class="homepage-items-news">
                                <div class="thumb-img"><a class="link-news-detail" href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card..html" title="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card."><img src="/images/2021/angiang-phucvu.png" alt="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card." /></a></div>
                                <div class="summary-news">
                                    <a href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card..html" title="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card.">Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card.</a>
                                    <a class="d-flex btn-news-details" href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card..html" title="View More"><span>View More</span><span> <img src="/images/assets/images/icon/arrow-detail-news.png" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="homepage-items-news">
                                <div class="thumb-img"><a class="link-news-detail" href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity.html" title="It is strictly forbidden to receive support from the audited entity"><img src="/images/2021/chi-phi-ban-hang.png" alt="It is strictly forbidden to receive support from the audited entity" /></a></div>
                                <div class="summary-news">
                                    <a href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity.html" title="It is strictly forbidden to receive support from the audited entity">It is strictly forbidden to receive support from the audited entity</a>
                                    <a class="d-flex btn-news-details" href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity.html" title="View More"><span>View More</span><span> <img src="/images/assets/images/icon/arrow-detail-news.png" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="footer">
        <div class="container">
            <div class="row hightlight">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft">HINH LAM TAX CONSULTING SERVICE CO., LTD.</h3>
                        <p>Address: No. 40 N5 Street, Tan Binh Service Residential Area, Tan Binh Ward, Di An City, Binh Duong Province</p>
                        <p>Business registration No.: 3702862785 issued by Binh Duong Department of Planning and Investment on March 24, 2020</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft border-r"><span>Contact us</span></h3>
                        <div class="list-sp">
                            <div class="d-md-flex">
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0983204115"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0919 724872"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0919 724 872</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0274 6267789"><span><img src="/images/assets/images/icon/icon-phone.png" alt="" /></span><span>0274 626 77 89</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://www.facebook.com/Hinhlamtaxingaccouting" target="_blank" title="facebook"><span><img src="/images/assets/images/icon/icon-facebook.png" alt="facebook" /></span><span>fb.com/Hinhlamtaxingaccouting</span></a></div>

                                </div>
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="skype:dailythue_hinhlam?chat"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://api.whatsapp.com/send?phone=dailythe_hinhlam"><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <p>Copyright © 2020 Hinh Lam Tax Consulting Services Co., Ltd.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="link-footer">

                        <a href="/en/privacy-policy/" title="Privacy Policy">Privacy Policy</a>

                        <a href="/en/privacy/" title="Privacy and safety">Privacy and safety</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="fix-right">
        <a href="tel:0983204115" title="">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-hotline.png" alt="Icon hotline">
            </span>
            <span class="text">
                0983204115
            </span>
        </a>
        <a href="/lien-he" class="show-contact" title="Thông tin liên hệ">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-lienhe.png" alt="Icon hotline">
            </span>
        </a>
    </div>
    <input id="itemTemplatePath" type="hidden" value="./">
    <script src="/themes/vip/scripts/dev/pages/home.js" defer></script>
    <script>
        $(function () {
            if ($('.pageTitle').length) {
                $('.pageBannerTitle').html($('.pageTitle').html());
                $('.breabcrumbs').html($('.breabcrumbsPath').html())
            }
        })
    </script>

</body>
</html>
