@model List<MenuInfoModel>;
@using HinhLam_DataObject.Models;
@using HinhLam_DataObject.ViewModels;
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
   
    <div class="section-banner-homepage">
        <ul>

            <li><img src="/images/b/ke-toan-hinh-lam-b8.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b9.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b5.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b6.jpg" alt=""></li>
        </ul>
    </div>


    <div class="section-service">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="homepage-heading-service">

                        <h3 class="title-1"><span>Hinh Lam</span>’s Services</h3>

                        <p class="text-center">We offer complete-package service at every stage of the business: Entering, establishing, operating, expanding, merging, and withdrawing from the market.</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="homepage-service-list">
                        <div class="thumb-img">
                            <img src="/images/assets/img-service.jpg" alt="" />
                        </div>
                        <div class="list-service">

                            <ul>
                                @for (int i = 0; i < 6; i++)
                                {
                                    <li class="acitve-items" style=""><a href="@Model.ElementAt(i).HrefLinkEN" title="@Model.ElementAt(i).MenuNameEN">@Model.ElementAt(i).MenuNameEN</a></li>

                                }
@*                              
                                <li class="acitve-items" style=""><a href="/en/services/troubleshooting-accounting-books/" title="Troubleshooting accounting books">Troubleshooting accounting books</a></li>

                                <li class="" style=""><a href="/en/services/providing-complete-package-accounting-service/" title="Providing complete-package accounting service">Providing complete-package accounting service</a></li>

                                <li class="" style=""><a href="/en/services/training-practical-accountants/" title="Training practical accountants">Training practical accountants</a></li>

                                <li class="" style=""><a href="/en/services/tax-agent/" title="Tax agent">Tax agent</a></li>

                                <li class="" style=""><a href="/en/services/conducting-vat-refund-by-project/" title="Conducting VAT refund by project">Conducting VAT refund by project</a></li>

                                <li class="" style=""><a href="/en/services/consulting-business-establishment/" title="Consulting business Establishment">Consulting business Establishment</a></li>

                                <li class="" style="display:none"><a href="/en/services/adjusting-and-amending-investment-licenses/" title="Adjusting and amending investment licenses">Adjusting and amending investment licenses</a></li>

                                <li class="" style="display:none"><a href="/en/services/merging-domestic-and-foreign-companies/" title="Merging domestic and foreign companies">Merging domestic and foreign companies</a></li>

                                <li class="" style="display:none"><a href="/en/services/dissolution-of-the-company-suspend-operations/" title="Dissolution of the company, suspend operations">Dissolution of the company, suspend operations</a></li>

                                <li class="" style="display:none"><a href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="Setting up, consulting the accounting department, the accounting system">Setting up, consulting the accounting department, the accounting system</a></li>

                                <li class="" style="display:none"><a href="/en/services/provide-accounting-software/" title="Provide accounting software">Provide accounting software</a></li>

                                <li class="" style="display:none"><a href="/en/services/provide-electronic-invoice-software/" title="Provide electronic invoice software">Provide electronic invoice software</a></li>

                                <li class="" style="display:none"><a href="/en/services/supply-digital-signature/" title="Supply digital signature">Supply digital signature</a></li>

                                <li class="" style="display:none"><a href="/en/services/supply-social-insurance-reporting-software/" title="Supply Social Insurance reporting software">Supply Social Insurance reporting software</a></li>

                                <li class="" style="display:none"><a href="/en/services/apply-for-work-permit-for-foreigners/" title="Apply for work permits for foreigners">Apply for work permits for foreigners</a></li>

                                <li class="" style="display:none"><a href="/en/services/apply-for-visa-for-foreigners/" title="Apply for visas for foreigners">Apply for visas for foreigners</a></li>

                                <li class="" style="display:none"><a href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="Apply for replacement driver's licenses for foreigners">Apply for replacement driver's licenses for foreigners</a></li>

                                <li class="" style="display:none"><a href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="Providing services of applying for entry permits to Vietnam.">Providing services of applying for entry permits to Vietnam.</a></li>
*@
                            </ul><a class="btn-viewall" href="/en/services/" title="View All"><span>View All</span><span><img src="/images/assets/images/icon/icon-view-all.png" alt=""></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="homepage-item-about">
                        <div class="thumb-about"><img src="/images/assets/img-about-us.jpg" alt=""></div>
                        <div class="homepage-about-content">

                            <h3> <span>About us</span></h3>
                            <p><p>HINH LAM specializes in providing accounting, tax, labor, and investment consulting services to foreign investors in Vietnam. With the slogan &quot;Always accompanying, always sharing.&quot; our company is proud to have served customers effectively during the past time.</p></p><a class="link-timhieu" href="/en/about-us/about-us.html" title="About Hinh Lam">About Hinh Lam</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-logo-partner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-logo">
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpg" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-client-review">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-review">

                        <div class="item-review">
                            <div class="thumb-img"><img src="/images/2021/img-ykien-khach-hang_1_3.jpg" alt="Ms. Lana / Vincorp" /></div>
                            <div class="block-content-review">
                                <h3> <span>Review</span></h3>
                                <div class="content-review">
                                    <p>I am completely assured of HINH LAM's accounting services. For me, HINH LAM is very dedicated, meticulous, thoughtful. Always giving suitable solutions.</p>
                                    <p class="client-name"> <strong>- Ms. Lana / Vincorp</strong></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-contact-homepage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="title-2"><span>Contact us</span></h3>
                    <div class="w-680">
                        <h4 class="sub-title-2">ARE YOU INQUIRED WITH ONE OF THE BLOOD'S SERVICES?</h4>
                        <p>Please call 0983 204115 or complete the information form below!</p>
                        <form class="homepage-frm-contact" method="post" action="/en/contact/">
                            <input type="hidden" name="submit" value="1" />
                            <input class="input-text" type="text" name="email" placeholder="Your Email">
                            <input class="btn-submit" type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-homepage-news">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="left-news-homepage">
                        <h3 class="homepage-title-news"> <span>News</span></h3>
                        <p>Introduce some specialized information on Accounting, Tax Declaration <br> And the latest tax policies for businesses</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <div class="homepage-items-news">
                                <div class="thumb-img"><a class="link-news-detail" href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card..html" title="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card."><img src="/images/2021/angiang-phucvu.png" alt="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card." /></a></div>
                                <div class="summary-news">
                                    <a href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card..html" title="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card.">Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card.</a>
                                    <a class="d-flex btn-news-details" href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card..html" title="View More"><span>View More</span><span> <img src="/images/assets/images/icon/arrow-detail-news.png" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="homepage-items-news">
                                <div class="thumb-img"><a class="link-news-detail" href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity.html" title="It is strictly forbidden to receive support from the audited entity"><img src="/images/2021/chi-phi-ban-hang.png" alt="It is strictly forbidden to receive support from the audited entity" /></a></div>
                                <div class="summary-news">
                                    <a href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity.html" title="It is strictly forbidden to receive support from the audited entity">It is strictly forbidden to receive support from the audited entity</a>
                                    <a class="d-flex btn-news-details" href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity.html" title="View More"><span>View More</span><span> <img src="/images/assets/images/icon/arrow-detail-news.png" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
