@{
    ViewData["Title"] = "Tin Tức";
    Layout = null;
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/themes/vip/css/style.css" type="text/css" />
    <title>Tin tức</title>
    <meta name="generator" content="vFramework 1.10.0 (https://vipcom.vn)" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="manifest" href="/themes/vip/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css ./assets/styles/internal.min.css inline-->
    <style>
        body {
            color: #333
        }</style>
    <link rel="stylesheet" href="/themes/vip/assets/styles/main.min.css" />
    <link rel="stylesheet" href="/themes/vip//css/fixstyle.css" />
    <!-- main:js -->
    <script src="/themes/vip/scripts/main.min.js"></script><!-- endinject -->
</head>
<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/tin-tuc/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/news/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/news-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/" title="Trang chủ">Trang chủ</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/gioi-thieu/" title="Giới thiệu">Giới thiệu</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/dich-vu/" title="Dịch vụ">Dịch vụ</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/go-roi-so-sach-ke-toan-dich-vu-ke-toan-hoan-thue/" title="Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế">Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-dich-vu-ke-toan-tron-goi/" title="Cung cấp dịch vụ kế toán trọn gói">Cung cấp dịch vụ kế toán trọn gói</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dao-tao-ke-toan-thuc-hanh/" title="Đào tạo kế toán thực hành">Đào tạo kế toán thực hành</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dai-ly-thue/" title="Đại lý thuế">Đại lý thuế</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/hoan-thue-gtgt-du-an/" title="Hoàn thuế GTGT dự án">Hoàn thuế GTGT dự án</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai/" title="Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài">Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu/" title="Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư">Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai/" title="Sát Nhập công ty trong nước và công ty nước ngoài">Sát Nhập công ty trong nước và công ty nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/giai-the-cong-ty-tam-ngung-hoat-dong/" title="Giải thể công ty, tạm ngưng hoạt động">Giải thể công ty, tạm ngưng hoạt động</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan/" title="Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán">Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-ke-toan/" title="Cung cấp phần mềm kế toán">Cung cấp phần mềm kế toán</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-hoa-don-dien-tu/" title="Cung cấp phần mềm hoá đơn điện tử">Cung cấp phần mềm hoá đơn điện tử</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-chu-ky-so/" title="Cung cấp chữ ký số">Cung cấp chữ ký số</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-khai-bao-bao-hiem-xa-hoi/" title="Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội">Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai/" title="Xin giấy phép lao động cho người nước ngoài">Xin giấy phép lao động cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai/" title="Xin cấp thị thực cho người nước ngoài">Xin cấp thị thực cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai/" title="Xin cấp đổi giấy phép lái xe  cho người nước ngoài">Xin cấp đổi giấy phép lái xe  cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam/" title="Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam">Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tin-tuc/" title="Tin tức">Tin tức</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tuyen-dung/" title="Tuyển dụng">Tuyển dụng</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/lien-he/" title="Liên hệ">Liên hệ</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_2.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Tin tức</span>

    </div>

    <div class="pageTitle hidden">Tin tức</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="heading-page"><div class="d-md-flex"><h3>Tin tức</h3></div></div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/bhxh-viet-nam-trien-khai-dang-ky-giao-dich-dien-tu-cho-ca-nhan-duoi-18-tuoi-chua-co-cmnd-cccd.html" title="BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD"><img src="/images/2021/angiang-phucvu.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/bhxh-viet-nam-trien-khai-dang-ky-giao-dich-dien-tu-cho-ca-nhan-duoi-18-tuoi-chua-co-cmnd-cccd.html" title="BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD">BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD</a>
                            <p>Để tiếp tục triển khai Nghị định số 45/2020/NĐ-CP ngày 8/4/2020 của Chính phủ về thực hiện thủ tục hành chính trên môi trường điện tử.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/nghiem-cam-viec-nhan-ho-tro-tu-don-vi-duoc-kiem-toan.html" title="Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán"><img src="/images/2021/chi-phi-ban-hang.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/nghiem-cam-viec-nhan-ho-tro-tu-don-vi-duoc-kiem-toan.html" title="Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán">Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán</a>
                            <p>Đó là một trong những nội dung tại Công điện số 786 về việc siết chặt kỷ luật, kỷ cương, tăng cường công tác quản lý hoạt động của các đơn vị trực thuộc Kiểm...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/quy-dinh-viec-ap-dung-quan-ly-rui-ro-trong-quan-ly-hoa-don-chung-tu.html" title="Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ"><img src="/images/2021/hinh-lam-ke-toan-thue.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/quy-dinh-viec-ap-dung-quan-ly-rui-ro-trong-quan-ly-hoa-don-chung-tu.html" title="Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ">Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ</a>
                            <p>Theo quy định tại Điều 21, Thông tư số 31/2021/TT-BTC về việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ, thì cơ quan thuế căn cứ danh sách người nộp thuế...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/tu-0172021-thay-doi-khai-niem-ho-gia-dinh-tham-gia-bhyt.html" title="Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT"><img src="/images/2021/bhythg_.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/tu-0172021-thay-doi-khai-niem-ho-gia-dinh-tham-gia-bhyt.html" title="Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT">Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT</a>
                            <p>Ngày 13/11/2020, Quốc hội đã thông qua Luật Cư trú năm 2020, có hiệu lực từ ngày 01/7/2021. Luật này sửa đổi, bổ sung nội dung một số Luật khác liên quan, trong đó có Luật...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/dong-nai-thanh-lap-ban-chi-dao-trien-khai-ung-dung-vssid.html" title="Đồng Nai: Thành lập Ban Chỉ đạo triển khai ứng dụng VssID"><img src="/images/2021/_n_20210521031650pm.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/dong-nai-thanh-lap-ban-chi-dao-trien-khai-ung-dung-vssid.html" title="Đồng Nai: Thành lập Ban Chỉ đạo triển khai ứng dụng VssID">Đồng Nai: Thành lập Ban Chỉ đạo triển khai ứng dụng VssID</a>
                            <p>Kế toán cho nhiều lĩnh vực ngành nghề, kế toán cho nhiều lĩnh vực ngành nghề, kế toán cho nhiều lĩnh vực ngành nghề</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/ca-nhan-se-bi-phat-toi-50-trieu-dong-neu-vi-pham-hanh-chinh-trong-linh-vuc-ke-toan.html" title="Cá nhân sẽ bị phạt tới 50 triệu đồng nếu vi phạm hành chính trong lĩnh vực kế toán"><img src="/images/2021/ke-toan-cong-ty.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/ca-nhan-se-bi-phat-toi-50-trieu-dong-neu-vi-pham-hanh-chinh-trong-linh-vuc-ke-toan.html" title="Cá nhân sẽ bị phạt tới 50 triệu đồng nếu vi phạm hành chính trong lĩnh vực kế toán">Cá nhân sẽ bị phạt tới 50 triệu đồng nếu vi phạm hành chính trong lĩnh vực kế toán</a>
                            <p>Kế toán cho nhiều lĩnh vực ngành nghề, kế toán cho nhiều lĩnh vực ngành nghề, kế toán cho nhiều lĩnh vực ngành nghề</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="paging">
                        <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                                <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="1">1</a></li>

                                <li class="page-item"><a class="page-link" href="/tin-tuc/?p=2" title="2">2</a></li>

                                <li class="page-item next"><a class="page-link" href="/tin-tuc/?p=2">>></a></li>

                            </ul>


                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row hightlight">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft">công ty tnhh Dv TƯ VẤN THUẾ HINH LAM</h3>
                        <p>Địa chỉ: Số 40 đường N5, KDC Dịch vụ Tân Bình, Phường Tân Bình, Thành Phố Dĩ An, Tỉnh Bình Dương</p>
                        <p>Số ĐKKD: 3702862785 do Sở KHĐT Tỉnh Bình Dương cấp ngày 24/03/2020</p>
                        <p> </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft border-r"><span>liên hệ nhanh</span></h3>
                        <div class="list-sp">
                            <div class="d-md-flex">
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0983204115"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0919 724872"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0919 724 872</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0274 6267789"><span><img src="/images/assets/images/icon/icon-phone.png" alt="" /></span><span>0274 626 77 89</span></a></div>
                                </div>
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="skype:dailythue_hinhlam?chat"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://api.whatsapp.com/send?phone=dailythe_hinhlam"><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <p>© 2020 Bản quyền của Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="link-footer">

                        <a href="/chinh-sach-bao-mat/" title="Chính sách bảo mật">Chính sách bảo mật</a>

                        <a href="/quyen-rieng-tu/" title="Quyền riêng tư">Quyền riêng tư</a>

                    </div>

                    <div class="vf_block">

                        <p><a href="https://www.facebook.com/Hinhlamtaxingaccouting/?ref=pages_you_manage" target="_blank" title="facebook"><img src="/images/assets/images/icon/icon-facebook.png" alt="facebook" /></a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="fix-right">
        <a href="tel:0983204115" title="">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-hotline.png" alt="Icon hotline">
            </span>
            <span class="text">
                0983204115
            </span>
        </a>
        <a href="/lien-he" class="show-contact" title="Thông tin liên hệ">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-lienhe.png" alt="Icon hotline">
            </span>
        </a>
    </div>
    <input id="itemTemplatePath" type="hidden" value="./">
    <script src="/themes/vip/scripts/dev/pages/home.js" defer></script>
    <script>
        $(function () {
            if ($('.pageTitle').length) {
                $('.pageBannerTitle').html($('.pageTitle').html());
                $('.breabcrumbs').html($('.breabcrumbsPath').html())
            }
        })
    </script>

</body>
</html>