@model HinhLam_DataObject.ViewModels.ConsultViewModel.ConsultWriteModel;
@{
    ViewData["Title"] = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/lien-he/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/contact/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/contact-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/" title="Trang chủ">Trang chủ</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/gioi-thieu/" title="Giới thiệu">Giới thiệu</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/dich-vu/" title="Dịch vụ">Dịch vụ</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/go-roi-so-sach-ke-toan-dich-vu-ke-toan-hoan-thue/" title="Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế">Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-dich-vu-ke-toan-tron-goi/" title="Cung cấp dịch vụ kế toán trọn gói">Cung cấp dịch vụ kế toán trọn gói</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dao-tao-ke-toan-thuc-hanh/" title="Đào tạo kế toán thực hành">Đào tạo kế toán thực hành</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dai-ly-thue/" title="Đại lý thuế">Đại lý thuế</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/hoan-thue-gtgt-du-an/" title="Hoàn thuế GTGT dự án">Hoàn thuế GTGT dự án</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai/" title="Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài">Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu/" title="Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư">Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai/" title="Sát Nhập công ty trong nước và công ty nước ngoài">Sát Nhập công ty trong nước và công ty nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/giai-the-cong-ty-tam-ngung-hoat-dong/" title="Giải thể công ty, tạm ngưng hoạt động">Giải thể công ty, tạm ngưng hoạt động</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan/" title="Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán">Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-ke-toan/" title="Cung cấp phần mềm kế toán">Cung cấp phần mềm kế toán</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-hoa-don-dien-tu/" title="Cung cấp phần mềm hoá đơn điện tử">Cung cấp phần mềm hoá đơn điện tử</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-chu-ky-so/" title="Cung cấp chữ ký số">Cung cấp chữ ký số</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-khai-bao-bao-hiem-xa-hoi/" title="Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội">Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai/" title="Xin giấy phép lao động cho người nước ngoài">Xin giấy phép lao động cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai/" title="Xin cấp thị thực cho người nước ngoài">Xin cấp thị thực cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai/" title="Xin cấp đổi giấy phép lái xe  cho người nước ngoài">Xin cấp đổi giấy phép lái xe  cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam/" title="Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam">Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tin-tuc/" title="Tin tức">Tin tức</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tuyen-dung/" title="Tuyển dụng">Tuyển dụng</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/lien-he/" title="Liên hệ">Liên hệ</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_4.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Liên hệ</span>

    </div>

    <div class="pageTitle hidden">Liên hệ</div>
    <div class="section-contact-page">
        <div class="container">
            <div class="row information-block">
                <div class="col-12">

                    <h3>CÔNG TY TNHH DỊCH VỤ TƯ VẤN THUẾ HINH LAM</h3>
                    <p> <strong>Địa chỉ:</strong>Số 40 đường N5, KDC Dịch vụ Tân Bình, Phường Tân Bình, Thành Phố Dĩ An, Tỉnh Bình Dương</p>
                    <p> <strong>Điện thoại:</strong>0983 204 115</p>
                    <p> <strong>Email: </strong><a href="mailto:dailythuehinhlam@gmail.com, elena.nguyen@hinhlam.com">dailythuehinhlam@gmail.com, elena.nguyen@hinhlam.com</a></p>
                    <p><strong>Mã số thuế</strong>: <span>3702862785</span></p>
                    <p><strong>Fanpage</strong>: <a href="https://www.facebook.com/Hinhlamtaxingaccouting/?ref=pages_you_manage" target="_blank">Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam</a></p>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.7183288660144!2d106.77205000817435!3d10.930350998054298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d98f4046eadb%3A0xfe7a4a590aed137!2zQ8O0bmcgVHkgVE5ISCBE4buLY2ggVuG7pSBUxrAgVuG6pW4gVGh14bq_IEhpbmggTGFt!5e0!3m2!1sen!2s!4v1617885215307!5m2!1sen!2s" width="100%" height="625" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
                <div class="col-12 col-md-6">
                    <a id="formcontacts"></a>


                    <form class="frm-contact" name="cartform" method="POST" action="/lien-he" ENCTYPE="multipart/form-data">
                        <div class="form-group">
                            <label for="CustomerName">Họ tên *</label>
                            <input class="form-control" type="text" name="CustomerName" id="CustomerName" placeholder="" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="CustomerCompany">Công ty</label>
                            <input class="form-control" type="text" name="CustomerCompany" id="CustomerCompany" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email *</label>
                            <input class="form-control" type="text" name="Email" id="Email" placeholder="" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">Điện thoại</label>
                            <input class="form-control" type="text" name="PhoneNumber" id="PhoneNumber" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="Contents">Nội dung</label>
                            <textarea class="form-control" name="Contents" id="Contents" rows="5"></textarea>
                        </div>
                        <div class="actions d-flex justify-content-center align-items-center">
                            <input class="btn btn-primary btn-lg" type="submit" style="position:center; width:40%" value="Gửi">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
</body>