@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/cn/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/lien-he/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/contact/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/contact-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/cn/" title="主頁">主頁</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/about-us-chinese/" title="介紹">介紹</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/services-chinese/" title="服務">服務</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/troubleshooting-accounting-books-chinese/" title="會計賬簿、會計服務、退稅等故障排除">會計賬簿、會計服務、退稅等故障排除</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/providing-complete-package-accounting-service/" title="提供全套的會計服務">提供全套的會計服務</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/training-practical-accountants-chinese/" title="實務會計培訓">實務會計培訓</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/tax-agent-chinese/" title="稅務代理">稅務代理</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/conducting-vat-refund-by-project-chinese/" title="項目增值稅退稅">項目增值稅退稅</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/consulting-business-establishment/" title="成立越南和外國企業">成立越南和外國企業</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/adjusting-and-amending-investment-licenses/" title="營業執照、投資執照的調整和變更">營業執照、投資執照的調整和變更</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/merging-domestic-and-foreign-companies-hinh-lam/" title="合併國內外公司">合併國內外公司</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/dissolution-of-the-company-suspend-operations-1/" title="公司解散，暫停營業">公司解散，暫停營業</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/setting-up-consulting-the-accounting-department-the-accounting-system-2/" title="設立、諮詢會計部門、會計系統">設立、諮詢會計部門、會計系統</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/provide-accounting-software-3/" title="提供會計軟件">提供會計軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/provide-electronic-invoice-software-2/" title="提供電子發票軟件">提供電子發票軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/supply-digital-signature/" title="提供數字簽名">提供數字簽名</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/supply-social-insurance-reporting-software/" title="提供社會保險報告軟件">提供社會保險報告軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-work-permit-for-foreigners/" title="為外國人申請工作許可證">為外國人申請工作許可證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-visa-for-foreigners/" title="為外國人申請簽證">為外國人申請簽證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-replacement-drivers-license-for-foreigners/" title="為外國人申請駕駛證">為外國人申請駕駛證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/providing-services-of-applying-for-entry-to-vietnam/" title="提供申請越南入境許可的服務">提供申請越南入境許可的服務</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/news-chinese/" title="新聞">新聞</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/careers-chinese/" title="招聘">招聘</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/contact-chinese/" title="聯繫">聯繫</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_4.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">主頁</a>

        <span>聯繫</span>

    </div>

    <div class="pageTitle hidden">聯繫</div>
    <div class="section-contact-page">
        <div class="container">
            <div class="row information-block">
                <div class="col-12">

                    <h3>鑫藍稅務顧問勞務責任有限</h3>
                    <p> <strong>地址:</strong>地址：越南，平陽省，夷安市，新平坊，新平服務住宅區，N5路，40號。</p>
                    <p> <strong>電話:</strong>0983 204 115</p>
                    <p> <strong>Email: </strong><a href="mailto:dailythuehinhlam@gmail.com, elena.nguyen@hinhlam.com">dailythuehinhlam@gmail.com, elena.nguyen@hinhlam.com</a></p>
                    <p><strong> 稅號: <span>3702862785</span></strong></p>
                    <p><strong>Fanpage</strong>: <a href="https://www.facebook.com/Hinhlamtaxingaccouting/?ref=pages_you_manage" target="_blank">鑫藍稅務顧問勞務責任有限</a></p>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.7183288660144!2d106.77205000817435!3d10.930350998054298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d98f4046eadb%3A0xfe7a4a590aed137!2zQ8O0bmcgVHkgVE5ISCBE4buLY2ggVuG7pSBUxrAgVuG6pW4gVGh14bq_IEhpbmggTGFt!5e0!3m2!1sen!2s!4v1617885215307!5m2!1sen!2s" width="100%" height="625" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
                <div class="col-12 col-md-6">
                    <a id="formcontacts"></a>


                    <form class="frm-contact" name="cartform" method="POST" action="/lien-he/send" ENCTYPE="multipart/form-data">
                        <div class="form-group">
                            <label for="CustomerName">Họ tên *</label>
                            <input class="form-control" type="text" name="CustomerName" id="CustomerName" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="CustomerCompany">Công ty</label>
                            <input class="form-control" type="text" name="CustomerCompany" id="CustomerCompany" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email *</label>
                            <input class="form-control" type="text" name="Email" id="Email" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">Điện thoại</label>
                            <input class="form-control" type="text" name="PhoneNumber" id="PhoneNumber" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="Contents">Nội dung</label>
                            <textarea class="form-control" name="Contents" id="Contents" rows="5"></textarea>
                        </div>
                        <div class="actions d-flex justify-content-center align-items-center">
                            <input class="btn btn-primary btn-lg" type="submit" style="position:center; width:40%" value="Gửi">
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
   
</body>