@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/en/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/lien-he/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/contact/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/contact-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/en/" title="Home">Home</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/about-us/" title="About us">About us</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/services/" title="Services">Services</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/en/services/troubleshooting-accounting-books/" title="Troubleshooting accounting books">Troubleshooting accounting books</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-complete-package-accounting-service/" title="Providing complete-package accounting service">Providing complete-package accounting service</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/training-practical-accountants/" title="Training practical accountants">Training practical accountants</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/tax-agent/" title="Tax agent">Tax agent</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/conducting-vat-refund-by-project/" title="Conducting VAT refund by project">Conducting VAT refund by project</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/consulting-business-establishment/" title="Consulting business Establishment">Consulting business Establishment</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/adjusting-and-amending-investment-licenses/" title="Adjusting and amending investment licenses">Adjusting and amending investment licenses</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/merging-domestic-and-foreign-companies/" title="Merging domestic and foreign companies">Merging domestic and foreign companies</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/dissolution-of-the-company-suspend-operations/" title="Dissolution of the company, suspend operations">Dissolution of the company, suspend operations</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="Setting up, consulting the accounting department, the accounting system">Setting up, consulting the accounting department, the accounting system</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-accounting-software/" title="Provide accounting software">Provide accounting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-electronic-invoice-software/" title="Provide electronic invoice software">Provide electronic invoice software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-digital-signature/" title="Supply digital signature">Supply digital signature</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-social-insurance-reporting-software/" title="Supply Social Insurance reporting software">Supply Social Insurance reporting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-work-permit-for-foreigners/" title="Apply for work permits for foreigners">Apply for work permits for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-visa-for-foreigners/" title="Apply for visas for foreigners">Apply for visas for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="Apply for replacement driver's licenses for foreigners">Apply for replacement driver's licenses for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="Providing services of applying for entry permits to Vietnam.">Providing services of applying for entry permits to Vietnam.</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/news/" title="Info">Info</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/careers/" title="Careers">Careers</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/contact/" title="Contact">Contact</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_4.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <span>Contact</span>

    </div>

    <div class="pageTitle hidden">Contact</div>
    <div class="section-contact-page">
        <div class="container">
            <div class="row information-block">
                <div class="col-12">

                    <h3>HINH LAM TAX CONSULTING SERVICE CO., LTD.</h3>
                    <p> <strong>Address:</strong>No. 40 N5 Street, Tan Binh Service Residential Area, Tan Binh Ward, Di An City, Binh Duong Province</p>
                    <p> <strong>Tel.:</strong>0983 204 115</p>
                    <p> <strong>Email: </strong><a href="mailto:dailythuehinhlam@gmail.com, elena.nguyen@hinhlam.com">dailythuehinhlam@gmail.com, elena.nguyen@hinhlam.com</a></p>
                    <p><strong> Tax code: <span>3702862785</span></strong></p>
                    <p><strong>Fanpage</strong>: <a href="https://www.facebook.com/Hinhlamtaxingaccouting/?ref=pages_you_manage" target="_blank">Hinh Lam Taxing &amp; Accouting</a></p>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.7183288660144!2d106.77205000817435!3d10.930350998054298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d98f4046eadb%3A0xfe7a4a590aed137!2zQ8O0bmcgVHkgVE5ISCBE4buLY2ggVuG7pSBUxrAgVuG6pW4gVGh14bq_IEhpbmggTGFt!5e0!3m2!1sen!2s!4v1617885215307!5m2!1sen!2s" width="100%" height="625" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
                <div class="col-12 col-md-6">
                    <a id="formcontacts"></a>


                    <form class="frm-contact" name="cartform" method="POST" action="/lien-he" ENCTYPE="multipart/form-data">
                        <input type="hidden" name="language" value="en" />
                        <div class="form-group">
                            <label for="CustomerName">Full Name *</label>
                            <input class="form-control" type="text" name="CustomerName" id="CustomerName" placeholder="" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="CustomerCompany">Company</label>
                            <input class="form-control" type="text" name="CustomerCompany" id="CustomerCompany" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email *</label>
                            <input class="form-control" type="text" name="Email" id="Email" placeholder="" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">Phone Number</label>
                            <input class="form-control" type="text" name="PhoneNumber" id="PhoneNumber" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="Contents">Content</label>
                            <textarea class="form-control" name="Contents" id="Contents" rows="5" maxlength="250"></textarea>
                        </div>
                        <div class="actions d-flex justify-content-center align-items-center">
                            <input class="btn btn-primary btn-lg" type="submit" style="position:center; width:40%" value="Submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tuyen-dung');
            document.getElementById('enFlag').setAttribute('href', '/en' + '/careers');
            document.getElementById('cnFlag').setAttribute('href', '/cn' + '/careers-chinese');
        });
    </script>
    @if (TempData.ContainsKey("NotificationMessage"))
    {
        <script>
            toastr.options = {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-top-right',
                timeOut: 5000,
                toastClass: 'custom-toast-class'
            };
            toastr['@TempData["NotificationType"]']('@TempData["NotificationMessage"]');
        </script>
    }
</body>