

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/themes/vip/css/style.css" type="text/css" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD" />
    <meta property="og:description" content="Để tiếp tục triển khai Nghị định số 45/2020/NĐ-CP ngày 8/4/2020 của Chính phủ về thực hiện thủ tục hành chính trên môi trường điện tử." />
    <meta property="og:image" content="https://www.hinhlam.com/images/2021/angiang-phucvu.png" />
    <title>BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD</title>
    <meta name="generator" content="vFramework 1.10.0 (https://vipcom.vn)" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="manifest" href="/themes/vip/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css ./assets/styles/internal.min.css inline-->
    <style>
        body {
            color: #333
        }</style>
    <link rel="stylesheet" href="/themes/vip/assets/styles/main.min.css" />
    <link rel="stylesheet" href="/themes/vip//css/fixstyle.css" />
    <!-- main:js -->
    <script src="/themes/vip/scripts/main.min.js"></script><!-- endinject -->
</head>
<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/images/logo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/tin-tuc/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/news/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/news-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/" title="Trang chủ">Trang chủ</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/gioi-thieu/" title="Giới thiệu">Giới thiệu</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/dich-vu/" title="Dịch vụ">Dịch vụ</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/go-roi-so-sach-ke-toan-dich-vu-ke-toan-hoan-thue/" title="Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế">Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-dich-vu-ke-toan-tron-goi/" title="Cung cấp dịch vụ kế toán trọn gói">Cung cấp dịch vụ kế toán trọn gói</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dao-tao-ke-toan-thuc-hanh/" title="Đào tạo kế toán thực hành">Đào tạo kế toán thực hành</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dai-ly-thue/" title="Đại lý thuế">Đại lý thuế</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/hoan-thue-gtgt-du-an/" title="Hoàn thuế GTGT dự án">Hoàn thuế GTGT dự án</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/thanh-lap-doanh-nghiep-viet-nam-va-doanh-nghiep-nuoc-ngoai/" title="Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài">Thành lập doanh nghiệp Việt Nam và doanh nghiệp nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/dieu-chinh-thay-doi-giay-phep-kinh-doanh-giay-phep-dau-tu/" title="Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư">Điều chỉnh thay đổi giấy phép kinh doanh, giấy phép đầu tư</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/sat-nhap-cong-ty-trong-nuoc-va-cong-ty-nuoc-ngoai/" title="Sát Nhập công ty trong nước và công ty nước ngoài">Sát Nhập công ty trong nước và công ty nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/giai-the-cong-ty-tam-ngung-hoat-dong/" title="Giải thể công ty, tạm ngưng hoạt động">Giải thể công ty, tạm ngưng hoạt động</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/thiet-lap-tu-van-bo-phan-ke-toan-he-thong-ke-toan/" title="Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán">Thiết lập, tư vấn bộ phận kế toán, hệ thống kế toán</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-ke-toan/" title="Cung cấp phần mềm kế toán">Cung cấp phần mềm kế toán</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-hoa-don-dien-tu/" title="Cung cấp phần mềm hoá đơn điện tử">Cung cấp phần mềm hoá đơn điện tử</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-chu-ky-so/" title="Cung cấp chữ ký số">Cung cấp chữ ký số</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-phan-mem-khai-bao-bao-hiem-xa-hoi/" title="Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội">Cung cấp phần mềm khai báo Bảo Hiểm Xã Hội</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-giay-phep-lao-dong-cho-nguoi-nuoc-ngoai/" title="Xin giấy phép lao động cho người nước ngoài">Xin giấy phép lao động cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-cap-thi-thuc-cho-nguoi-nuoc-ngoai/" title="Xin cấp thị thực cho người nước ngoài">Xin cấp thị thực cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/xin-cap-doi-giay-phep-lai-xe-cho-nguoi-nuoc-ngoai/" title="Xin cấp đổi giấy phép lái xe  cho người nước ngoài">Xin cấp đổi giấy phép lái xe  cho người nước ngoài</a></li>

                                <li><a class="nav-main__menu-second-link" href="/dich-vu/cung-cap-dich-vu-xin-phep-nhap-canh-vao-viet-nam/" title="Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam">Cung cấp dịch vụ xin phép nhập cảnh vào Việt Nam</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tin-tuc/" title="Tin tức">Tin tức</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tuyen-dung/" title="Tuyển dụng">Tuyển dụng</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/lien-he/" title="Liên hệ">Liên hệ</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_2.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Tin tức</span>

    </div>

    <div class="pageTitle hidden">Tin tức</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="detail-content">
                        <p>Để tiếp tục triển khai Nghị định số 45/2020/NĐ-CP ngày 8/4/2020 của Chính phủ về thực hiện thủ tục hành chính trên môi trường điện tử; đảm bảo thực hiện đầy đủ các quy trình nghiệp vụ về giao dịch điện tử trong lĩnh vực BHXH, BHYT, BH thất nghiệp, BHXH Việt Nam vừa ban hành Công văn số 702/BHXH-CNTT về việc bổ sung hướng dẫn triển khai giao dịch điện tử đối với cá nhân.</p>
                        <div class="ExternalClass9AE8A4F3CFE74259B7692530825F73F7">
                            <p><span><span><span>Theo đó, BHXH Việt Nam yêu cầu BHXH các tỉnh, thành phố trực thuộc Trung ương thực hiện các nội dung sau:</span></span></span></p>
                            <p><span><span><span><span>Thứ nhất, triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có chứng minh nhân dân (CMND) hoặc thẻ căn cước công dân (CCCD).</span></span></span></span></p>
                            <p><span><span><span>Có 02 cách đăng ký, cụ thể:</span></span></span></p>
                            <p><span><span><span>- Đăng ký thông qua tài khoản của cha hoặc mẹ hoặc người giám hộ. Lưu ý: Cha hoặc mẹ hoặc người giám hộ cần có tài khoản giao dịch điện tử với cơ quan BHXH.</span></span></span></p>
                            <p><span><span><span>- Đăng ký trực tiếp trên Cổng Dịch vụ công của BHXH Việt Nam.</span></span></span></p>
                            <p><span><span><span><span>Thứ hai, tiếp tục đẩy nhanh tiến độ triển khai đăng ký giao dịch điện tử cho cá nhân với một số điểm lưu ý sau:</span></span></span></span></p>
                            <p><span><span><span>- Giám đốc BHXH các tỉnh, thành phố chỉ đạo phân quyền và giao trách nhiệm cho các cán bộ của các phòng, bộ phận tham gia thực hiện việc xác minh, phê duyệt đăng ký giao dịch điện tử đối với cá nhân.</span></span></span></p>
                            <p><span><span><span>- Tiếp nhận và lưu trữ hồ sơ đăng ký giao dịch điện tử với cơ quan BHXH của cá nhân theo đúng hướng dẫn và quy định.</span></span></span></p>
                            <p><span><span><span>- Không thực hiện phê duyệt hồ sơ trên hệ thống khi không có đầy đủ thành phần hồ sơ theo quy định.</span></span></span></p>
                            <p><span><span><span>- Không trả lại hồ sơ đăng ký giao dịch điện tử của cá nhân thiếu ảnh CMND, chân dung và giấy khai sinh (đối với cá nhân dưới 18 tuổi). Cán bộ tiếp nhận bổ sung khi người dân đến cơ quan BHXH để hoàn tất thủ tục đăng ký giao dịch điện tử</span></span></span></p>
                            <p><img src="https://baohiemxahoi.gov.vn:4545/pic/03-HD-HT-BHXH/Angiang-phucvu_20200225102558AM.jpg" alt="" /></p>
                            <p><span><span><span><em>Hình minh hoạ (nguồn: Internet)</em></span></span></span></p>
                            <p><span><span><span>- Không bắt buộc người dân in tờ khai khi đến cơ quan BHXH để hoàn tất thủ tục đăng ký giao dịch điện tử. Trường hợp người dân đến xác minh và phê duyệt mà không mang theo tờ khai, cán bộ tiếp nhận đề nghị người dân cung cấp thông tin số hồ sơ hoặc mã số BHXH trong tin nhắn do cơ quan BHXH Việt Nam gửi sau khi nộp hồ sơ đăng ký thành công. Thực hiện việc đối chiếu, xác minh thông tin, in tờ khai và lấy chữ ký của cá nhân đăng ký, phê duyệt, kích hoạt tài khoản và hướng dẫn người dân cài đặt, sử dụng VssID - Bảo hiểm xã hội số</span></span></span></p>
                            <p><span><span><span>- Thực hiện tiếp nhận, xác minh, phê duyệt, hướng dẫn đối với người dân đến để hoàn tất thủ tục đăng ký giao dịch điện tử nhưng trước đó đã lựa chọn cơ quan BHXH khác lúc đăng ký trực tuyến (người dân được quyền đến bất kỳ cơ quan BHXH trong hệ thống ngành BHXH Việt Nam để hoàn tất thủ tục đăng ký).</span></span></span></p>
                            <p><span><span><span>Thực hiện Nghị quyết của Chính phủ về việc xây dựng Chính phủ điện tử, thời gian qua, BHXH Việt Nam đã có nhiều nỗ lực cải cách thủ tục hành chính, ứng dụng công nghệ thông tin, hiện đại hóa nền hành chính, hướng tới Chính phủ điện tử trong lĩnh vực BHXH. Đến nay, BHXH Việt Nam đã hoàn thành việc cung cấp các DVC mức độ 4 cho tất các thủ tục hành chính của Ngành, đem lại nhiều tiện ích cho người dân, doanh nghiệp… Trong thời gian tới, Ngành BHXH tiếp tục nỗ lực cùng các Bộ, ngành, địa phương xây dựng Chính phủ điện tử, cung cấp ngày càng nhiều các tiện ích, giúp giảm thời gian, chi phí, đem lại sự hài lòng cho các tổ chức và cá nhân khi tham gia giao dịch với cơ quan BHXH./.</span></span></span></p>
                            <p><span><span><span>Nguồn <a href="https://baohiemxahoi.gov.vn/" target="_blank">https://baohiemxahoi.gov.vn/</a></span></span></span></p>
                            <p><span><span><span> </span></span></span></p>
                        </div>
                        <p> </p>
                    </div>

                    <div class="related-news">
                        <h3>Tin liên quan</h3>
                        <div class="row">

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="item-news">
                                    <div class="thumb-img"><a href="/tin-tuc/nghiem-cam-viec-nhan-ho-tro-tu-don-vi-duoc-kiem-toan.html" title="Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán"><img src="/images/2021/chi-phi-ban-hang.png" /></a></div>
                                    <div class="summary-news">
                                        <a class="text-title" href="/tin-tuc/nghiem-cam-viec-nhan-ho-tro-tu-don-vi-duoc-kiem-toan.html" title="Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán">Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán</a>
                                        <p>Đó là một trong những nội dung tại Công điện số 786 về việc siết chặt kỷ luật, kỷ cương, tăng cường công tác quản lý hoạt động của các đơn vị trực thuộc Kiểm...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="item-news">
                                    <div class="thumb-img"><a href="/tin-tuc/quy-dinh-viec-ap-dung-quan-ly-rui-ro-trong-quan-ly-hoa-don-chung-tu.html" title="Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ"><img src="/images/2021/hinh-lam-ke-toan-thue.png" /></a></div>
                                    <div class="summary-news">
                                        <a class="text-title" href="/tin-tuc/quy-dinh-viec-ap-dung-quan-ly-rui-ro-trong-quan-ly-hoa-don-chung-tu.html" title="Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ">Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ</a>
                                        <p>Theo quy định tại Điều 21, Thông tư số 31/2021/TT-BTC về việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ, thì cơ quan thuế căn cứ danh sách người nộp thuế...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="item-news">
                                    <div class="thumb-img"><a href="/tin-tuc/tu-0172021-thay-doi-khai-niem-ho-gia-dinh-tham-gia-bhyt.html" title="Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT"><img src="/images/2021/bhythg_.jpg" /></a></div>
                                    <div class="summary-news">
                                        <a class="text-title" href="/tin-tuc/tu-0172021-thay-doi-khai-niem-ho-gia-dinh-tham-gia-bhyt.html" title="Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT">Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT</a>
                                        <p>Ngày 13/11/2020, Quốc hội đã thông qua Luật Cư trú năm 2020, có hiệu lực từ ngày 01/7/2021. Luật này sửa đổi, bổ sung nội dung một số Luật khác liên quan, trong đó có Luật...</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row hightlight">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft">công ty tnhh Dv TƯ VẤN THUẾ HINH LAM</h3>
                        <p>Địa chỉ: Số 40 đường N5, KDC Dịch vụ Tân Bình, Phường Tân Bình, Thành Phố Dĩ An, Tỉnh Bình Dương</p>
                        <p>Số ĐKKD: 3702862785 do Sở KHĐT Tỉnh Bình Dương cấp ngày 24/03/2020</p>
                        <p> </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft border-r"><span>liên hệ nhanh</span></h3>
                        <div class="list-sp">
                            <div class="d-md-flex">
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0983204115"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0919 724872"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0919 724 872</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0274 6267789"><span><img src="/images/assets/images/icon/icon-phone.png" alt="" /></span><span>0274 626 77 89</span></a></div>
                                </div>
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="skype:dailythue_hinhlam?chat"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://api.whatsapp.com/send?phone=dailythe_hinhlam"><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <p>© 2020 Bản quyền của Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="link-footer">

                        <a href="/chinh-sach-bao-mat/" title="Chính sách bảo mật">Chính sách bảo mật</a>

                        <a href="/quyen-rieng-tu/" title="Quyền riêng tư">Quyền riêng tư</a>

                    </div>

                    <div class="vf_block">

                        <p><a href="https://www.facebook.com/Hinhlamtaxingaccouting/?ref=pages_you_manage" target="_blank" title="facebook"><img src="/images/assets/images/icon/icon-facebook.png" alt="facebook" /></a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="fix-right">
        <a href="tel:0983204115" title="">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-hotline.png" alt="Icon hotline">
            </span>
            <span class="text">
                0983204115
            </span>
        </a>
        <a href="/lien-he" class="show-contact" title="Thông tin liên hệ">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-lienhe.png" alt="Icon hotline">
            </span>
        </a>
    </div>
    <input id="itemTemplatePath" type="hidden" value="./">
    <script src="/themes/vip/scripts/dev/pages/home.js" defer></script>
    <script>
        $(function () {
            if ($('.pageTitle').length) {
                $('.pageBannerTitle').html($('.pageTitle').html());
                $('.breabcrumbs').html($('.breabcrumbsPath').html())
            }
        })
    </script>

</body>
</html>