@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="section-banner">

        <img src="/images/b/banner-inner_2.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <span>Info</span>

    </div>

    <div class="pageTitle hidden">Info</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="heading-page"><div class="d-md-flex"><h3>Info</h3></div></div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card" title="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card."><img src="/images/2021/angiang-phucvu.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card" title="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card.">Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card.</a>
                            <p>To continue implementing Decree No. 45/2020/ND-CP dated April 8, 2020 of the Government on implementing administrative procedures in the electronic environment; ensuring the full implementation of...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity" title="It is strictly forbidden to receive support from the audited entity"><img src="/images/2021/chi-phi-ban-hang.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity" title="It is strictly forbidden to receive support from the audited entity">It is strictly forbidden to receive support from the audited entity</a>
                            <p>One of the contents in Official Dispatch No. 786 is on tightening discipline and discipline, strengthening the operation management of units under the State Audit (SAV) recently approved by State Auditor General Ho Duc...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/regulations-on-the-application-of-risk-management-in-the-management-of-invoices-and-documents" title="Regulations on the application of risk management in the management of invoices and documents"><img src="/images/2021/hinh-lam-ke-toan-thue.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/regulations-on-the-application-of-risk-management-in-the-management-of-invoices-and-documents" title="Regulations on the application of risk management in the management of invoices and documents">Regulations on the application of risk management in the management of invoices and documents</a>
                            <p>According to the provisions of Article 21, Circular No. 31/2021/TT-BTC on the application of risk management in the management of invoices and documents, the tax authorities shall base themselves on the list of...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/troubleshooting-accounting-books-accounting-services-tax-refund" title="Troubleshooting accounting books, accounting services, tax refund"><img src="/images/2021/_n_20210521031650pm.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/troubleshooting-accounting-books-accounting-services-tax-refund.html" title="Troubleshooting accounting books, accounting services, tax refund">Troubleshooting accounting books, accounting services, tax refund</a>
                            <p>Accounting for many professions, accounting for many professions, accounting for many professions</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/from-july-1-2021-changing-the-concept-of-households-participating-in-health-insurance" title="From July 1, 2021: Changing the concept of households participating in health insurance"><img src="/images/2021/bhythg_.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/from-july-1-2021-changing-the-concept-of-households-participating-in-health-insurance" title="From July 1, 2021: Changing the concept of households participating in health insurance">From July 1, 2021: Changing the concept of households participating in health insurance</a>
                            <p>Specifically, Clause 2, Article 38 of the Law on Residence amends Clause 7, Article 2 of the Law on Health Insurance in 2008 (amended in 2013, 2014, 2015 and 2018) as follows:</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/dong-nai-establishment-of-a-steering-committee-for-vssid-application-deployment" title="Dong Nai: Establishment of a Steering Committee for VssID application deployment"><img src="/images/2021/_n_20210521031650pm.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/dong-nai-establishment-of-a-steering-committee-for-vssid-application-deployment" title="Dong Nai: Establishment of a Steering Committee for VssID application deployment">Dong Nai: Establishment of a Steering Committee for VssID application deployment</a>
                            <p>The Steering Committee consists of 12 members, which, Director of Dong Nai Social Security Administration Pham Minh Thanh - Head of the Committee; Deputy Director of Provincial Social Insurance Pham Long Son - Standing...</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="paging">
                        <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                                <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="1">1</a></li>

                                <li class="page-item"><a class="page-link" href="/en/news/?p=2" title="2">2</a></li>

                                <li class="page-item next"><a class="page-link" href="/en/news/?p=2">>></a></li>

                            </ul>


                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tin-tuc');
            document.getElementById('enFlag').setAttribute('href', '/en' + '/news');
            document.getElementById('cnFlag').setAttribute('href', '/cn' + '/news-chinese');
        });
    </script>
</body>