@{
    ViewData["Title"] = "Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>

    <div class="section-banner">

        <img src="/images/b/banner-inner_2.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Tin tức</span>

    </div>

    <div class="pageTitle hidden">Tin tức</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="heading-page"><div class="d-md-flex"><h3>Tin tức</h3></div></div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/bhxh-viet-nam-trien-khai-dang-ky-giao-dich-dien-tu-cho-ca-nhan-duoi-18-tuoi-chua-co-cmnd-cccd.html" title="BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD"><img src="/images/2021/angiang-phucvu.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/bhxh-viet-nam-trien-khai-dang-ky-giao-dich-dien-tu-cho-ca-nhan-duoi-18-tuoi-chua-co-cmnd-cccd.html" title="BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD">BHXH Việt Nam: Triển khai đăng ký giao dịch điện tử cho cá nhân dưới 18 tuổi chưa có CMND, CCCD</a>
                            <p>Để tiếp tục triển khai Nghị định số 45/2020/NĐ-CP ngày 8/4/2020 của Chính phủ về thực hiện thủ tục hành chính trên môi trường điện tử.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/nghiem-cam-viec-nhan-ho-tro-tu-don-vi-duoc-kiem-toan.html" title="Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán"><img src="/images/2021/chi-phi-ban-hang.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/nghiem-cam-viec-nhan-ho-tro-tu-don-vi-duoc-kiem-toan.html" title="Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán">Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán</a>
                            <p>Đó là một trong những nội dung tại Công điện số 786 về việc siết chặt kỷ luật, kỷ cương, tăng cường công tác quản lý hoạt động của các đơn vị trực thuộc Kiểm...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/quy-dinh-viec-ap-dung-quan-ly-rui-ro-trong-quan-ly-hoa-don-chung-tu.html" title="Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ"><img src="/images/2021/hinh-lam-ke-toan-thue.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/quy-dinh-viec-ap-dung-quan-ly-rui-ro-trong-quan-ly-hoa-don-chung-tu.html" title="Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ">Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ</a>
                            <p>Theo quy định tại Điều 21, Thông tư số 31/2021/TT-BTC về việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ, thì cơ quan thuế căn cứ danh sách người nộp thuế...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/tu-0172021-thay-doi-khai-niem-ho-gia-dinh-tham-gia-bhyt.html" title="Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT"><img src="/images/2021/bhythg_.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/tu-0172021-thay-doi-khai-niem-ho-gia-dinh-tham-gia-bhyt.html" title="Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT">Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT</a>
                            <p>Ngày 13/11/2020, Quốc hội đã thông qua Luật Cư trú năm 2020, có hiệu lực từ ngày 01/7/2021. Luật này sửa đổi, bổ sung nội dung một số Luật khác liên quan, trong đó có Luật...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/dong-nai-thanh-lap-ban-chi-dao-trien-khai-ung-dung-vssid.html" title="Đồng Nai: Thành lập Ban Chỉ đạo triển khai ứng dụng VssID"><img src="/images/2021/_n_20210521031650pm.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/dong-nai-thanh-lap-ban-chi-dao-trien-khai-ung-dung-vssid.html" title="Đồng Nai: Thành lập Ban Chỉ đạo triển khai ứng dụng VssID">Đồng Nai: Thành lập Ban Chỉ đạo triển khai ứng dụng VssID</a>
                            <p>Kế toán cho nhiều lĩnh vực ngành nghề, kế toán cho nhiều lĩnh vực ngành nghề, kế toán cho nhiều lĩnh vực ngành nghề</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/tin-tuc/ca-nhan-se-bi-phat-toi-50-trieu-dong-neu-vi-pham-hanh-chinh-trong-linh-vuc-ke-toan.html" title="Cá nhân sẽ bị phạt tới 50 triệu đồng nếu vi phạm hành chính trong lĩnh vực kế toán"><img src="/images/2021/ke-toan-cong-ty.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/tin-tuc/ca-nhan-se-bi-phat-toi-50-trieu-dong-neu-vi-pham-hanh-chinh-trong-linh-vuc-ke-toan.html" title="Cá nhân sẽ bị phạt tới 50 triệu đồng nếu vi phạm hành chính trong lĩnh vực kế toán">Cá nhân sẽ bị phạt tới 50 triệu đồng nếu vi phạm hành chính trong lĩnh vực kế toán</a>
                            <p>Kế toán cho nhiều lĩnh vực ngành nghề, kế toán cho nhiều lĩnh vực ngành nghề, kế toán cho nhiều lĩnh vực ngành nghề</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="paging">
                        <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                                <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="1">1</a></li>

                                <li class="page-item"><a class="page-link" href="/tin-tuc/?p=2" title="2">2</a></li>

                                <li class="page-item next"><a class="page-link" href="/tin-tuc/?p=2">>></a></li>

                            </ul>


                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', "/tin-tuc");
            document.getElementById('enFlag').setAttribute('href', "/en" + "/news");
            document.getElementById('cnFlag').setAttribute('href', "/cn" + "/news-chinese");
        });
    </script>
</body>