@{
    ViewData["Title"] = "Info";
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/themes/vip/css/style.css" type="text/css" />
    <title>Info</title>
    <meta name="generator" content="vFramework 1.10.0 (https://vipcom.vn)" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="">
    <link rel="icon" type="image/gif" href="/images/assets/newlogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="manifest" href="/themes/vip/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css ./assets/styles/internal.min.css inline-->
    <style>
        body {
            color: #333
        }</style>
    <link rel="stylesheet" href="/themes/vip/assets/styles/main.min.css" />
    <link rel="stylesheet" href="/themes/vip//css/fixstyle.css" />
    <!-- main:js -->
    <script src="/themes/vip/scripts/main.min.js"></script><!-- endinject -->
</head>
<body class="lang-en">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/en/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/tin-tuc/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/news/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/news-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/en/" title="Home">Home</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/about-us/" title="About us">About us</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/services/" title="Services">Services</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/en/services/troubleshooting-accounting-books/" title="Troubleshooting accounting books">Troubleshooting accounting books</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-complete-package-accounting-service/" title="Providing complete-package accounting service">Providing complete-package accounting service</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/training-practical-accountants/" title="Training practical accountants">Training practical accountants</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/tax-agent/" title="Tax agent">Tax agent</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/conducting-vat-refund-by-project/" title="Conducting VAT refund by project">Conducting VAT refund by project</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/consulting-business-establishment/" title="Consulting business Establishment">Consulting business Establishment</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/adjusting-and-amending-investment-licenses/" title="Adjusting and amending investment licenses">Adjusting and amending investment licenses</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/merging-domestic-and-foreign-companies/" title="Merging domestic and foreign companies">Merging domestic and foreign companies</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/dissolution-of-the-company-suspend-operations/" title="Dissolution of the company, suspend operations">Dissolution of the company, suspend operations</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/setting-up-consulting-the-accounting-department-the-accounting-system/" title="Setting up, consulting the accounting department, the accounting system">Setting up, consulting the accounting department, the accounting system</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-accounting-software/" title="Provide accounting software">Provide accounting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/provide-electronic-invoice-software/" title="Provide electronic invoice software">Provide electronic invoice software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-digital-signature/" title="Supply digital signature">Supply digital signature</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/supply-social-insurance-reporting-software/" title="Supply Social Insurance reporting software">Supply Social Insurance reporting software</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-work-permit-for-foreigners/" title="Apply for work permits for foreigners">Apply for work permits for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-visa-for-foreigners/" title="Apply for visas for foreigners">Apply for visas for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/apply-for-replacement-drivers-license-for-foreigners/" title="Apply for replacement driver's licenses for foreigners">Apply for replacement driver's licenses for foreigners</a></li>

                                <li><a class="nav-main__menu-second-link" href="/en/services/providing-services-of-applying-for-entry-to-vietnam/" title="Providing services of applying for entry permits to Vietnam.">Providing services of applying for entry permits to Vietnam.</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/news/" title="Info">Info</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/careers/" title="Careers">Careers</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/en/contact/" title="Contact">Contact</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_2.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <span>Info</span>

    </div>

    <div class="pageTitle hidden">Info</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="heading-page"><div class="d-md-flex"><h3>Info</h3></div></div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card..html" title="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card."><img src="/images/2021/angiang-phucvu.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/vietnam-social-insurance-implement-electronic-transaction-registration-for-individuals-under-18-years-old-without-id-card..html" title="Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card.">Vietnam Social Insurance: Implement electronic transaction registration for individuals under 18 years old without ID card.</a>
                            <p>To continue implementing Decree No. 45/2020/ND-CP dated April 8, 2020 of the Government on implementing administrative procedures in the electronic environment; ensuring the full implementation of...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity.html" title="It is strictly forbidden to receive support from the audited entity"><img src="/images/2021/chi-phi-ban-hang.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity.html" title="It is strictly forbidden to receive support from the audited entity">It is strictly forbidden to receive support from the audited entity</a>
                            <p>One of the contents in Official Dispatch No. 786 is on tightening discipline and discipline, strengthening the operation management of units under the State Audit (SAV) recently approved by State Auditor General Ho Duc...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/regulations-on-the-application-of-risk-management-in-the-management-of-invoices-and-documents.html" title="Regulations on the application of risk management in the management of invoices and documents"><img src="/images/2021/hinh-lam-ke-toan-thue.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/regulations-on-the-application-of-risk-management-in-the-management-of-invoices-and-documents.html" title="Regulations on the application of risk management in the management of invoices and documents">Regulations on the application of risk management in the management of invoices and documents</a>
                            <p>According to the provisions of Article 21, Circular No. 31/2021/TT-BTC on the application of risk management in the management of invoices and documents, the tax authorities shall base themselves on the list of...</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/troubleshooting-accounting-books-accounting-services-tax-refund.html" title="Troubleshooting accounting books, accounting services, tax refund"><img src="/images/2021/_n_20210521031650pm.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/troubleshooting-accounting-books-accounting-services-tax-refund.html" title="Troubleshooting accounting books, accounting services, tax refund">Troubleshooting accounting books, accounting services, tax refund</a>
                            <p>Accounting for many professions, accounting for many professions, accounting for many professions</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/from-july-1-2021-changing-the-concept-of-households-participating-in-health-insurance.html" title="From July 1, 2021: Changing the concept of households participating in health insurance"><img src="/images/2021/bhythg_.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/from-july-1-2021-changing-the-concept-of-households-participating-in-health-insurance.html" title="From July 1, 2021: Changing the concept of households participating in health insurance">From July 1, 2021: Changing the concept of households participating in health insurance</a>
                            <p>Specifically, Clause 2, Article 38 of the Law on Residence amends Clause 7, Article 2 of the Law on Health Insurance in 2008 (amended in 2013, 2014, 2015 and 2018) as follows:</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/en/news/dong-nai-establishment-of-a-steering-committee-for-vssid-application-deployment.html" title="Dong Nai: Establishment of a Steering Committee for VssID application deployment"><img src="/images/2021/_n_20210521031650pm.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/en/news/dong-nai-establishment-of-a-steering-committee-for-vssid-application-deployment.html" title="Dong Nai: Establishment of a Steering Committee for VssID application deployment">Dong Nai: Establishment of a Steering Committee for VssID application deployment</a>
                            <p>The Steering Committee consists of 12 members, which, Director of Dong Nai Social Security Administration Pham Minh Thanh - Head of the Committee; Deputy Director of Provincial Social Insurance Pham Long Son - Standing...</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="paging">
                        <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                                <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="1">1</a></li>

                                <li class="page-item"><a class="page-link" href="/en/news/?p=2" title="2">2</a></li>

                                <li class="page-item next"><a class="page-link" href="/en/news/?p=2">>></a></li>

                            </ul>


                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row hightlight">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft">HINH LAM TAX CONSULTING SERVICE CO., LTD.</h3>
                        <p>Address: No. 40 N5 Street, Tan Binh Service Residential Area, Tan Binh Ward, Di An City, Binh Duong Province</p>
                        <p>Business registration No.: 3702862785 issued by Binh Duong Department of Planning and Investment on March 24, 2020</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <h3 class="title-ft border-r"><span>Contact us</span></h3>
                        <div class="list-sp">
                            <div class="d-md-flex">
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0983204115"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0919 724872"><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0919 724 872</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://chat.zalo.me/?phone=0274 6267789"><span><img src="/images/assets/images/icon/icon-phone.png" alt="" /></span><span>0274 626 77 89</span></a></div>
                                </div>
                                <div class="list-item">
                                    <div class="item-sp"><a class="d-flex align-items-center" href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="skype:dailythue_hinhlam?chat"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></div>
                                    <div class="item-sp"><a class="d-flex align-items-center" href="https://api.whatsapp.com/send?phone=dailythe_hinhlam"><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="vf_block">

                        <p>Copyright © 2020 Hinh Lam Tax Consulting Services Co., Ltd.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="link-footer">

                        <a href="/en/privacy-policy/" title="Privacy Policy">Privacy Policy</a>

                        <a href="/en/privacy/" title="Privacy and safety">Privacy and safety</a>

                    </div>

                    <div class="vf_block">

                        <p><a href="https://www.facebook.com/Hinhlamtaxingaccouting/?ref=pages_you_manage" target="_blank" title="facebook"><img src="/images/assets/images/icon/icon-facebook.png" alt="facebook" /></a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="fix-right">
        <a href="tel:0983204115" title="">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-hotline.png" alt="Icon hotline">
            </span>
            <span class="text">
                0983204115
            </span>
        </a>
        <a href="/lien-he" class="show-contact" title="Thông tin liên hệ">
            <span class="icon-fix">
                <img src="/themes/vip/assets/images/icon-lienhe.png" alt="Icon hotline">
            </span>
        </a>
    </div>
    <input id="itemTemplatePath" type="hidden" value="./">
    <script src="/themes/vip/scripts/dev/pages/home.js" defer></script>
    <script>
        $(function () {
            if ($('.pageTitle').length) {
                $('.pageBannerTitle').html($('.pageTitle').html());
                $('.breabcrumbs').html($('.breabcrumbsPath').html())
            }
        })
    </script>

</body>
</html>