@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/cn/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/tin-tuc/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/news/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/news-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/cn/" title="主頁">主頁</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/about-us-chinese/" title="介紹">介紹</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/services-chinese/" title="服務">服務</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/troubleshooting-accounting-books-chinese/" title="會計賬簿、會計服務、退稅等故障排除">會計賬簿、會計服務、退稅等故障排除</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/providing-complete-package-accounting-service/" title="提供全套的會計服務">提供全套的會計服務</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/training-practical-accountants-chinese/" title="實務會計培訓">實務會計培訓</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/tax-agent-chinese/" title="稅務代理">稅務代理</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/conducting-vat-refund-by-project-chinese/" title="項目增值稅退稅">項目增值稅退稅</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/consulting-business-establishment/" title="成立越南和外國企業">成立越南和外國企業</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/adjusting-and-amending-investment-licenses/" title="營業執照、投資執照的調整和變更">營業執照、投資執照的調整和變更</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/merging-domestic-and-foreign-companies-hinh-lam/" title="合併國內外公司">合併國內外公司</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/dissolution-of-the-company-suspend-operations-1/" title="公司解散，暫停營業">公司解散，暫停營業</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/setting-up-consulting-the-accounting-department-the-accounting-system-2/" title="設立、諮詢會計部門、會計系統">設立、諮詢會計部門、會計系統</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/provide-accounting-software-3/" title="提供會計軟件">提供會計軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/provide-electronic-invoice-software-2/" title="提供電子發票軟件">提供電子發票軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/supply-digital-signature/" title="提供數字簽名">提供數字簽名</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/supply-social-insurance-reporting-software/" title="提供社會保險報告軟件">提供社會保險報告軟件</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-work-permit-for-foreigners/" title="為外國人申請工作許可證">為外國人申請工作許可證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-visa-for-foreigners/" title="為外國人申請簽證">為外國人申請簽證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/apply-for-replacement-drivers-license-for-foreigners/" title="為外國人申請駕駛證">為外國人申請駕駛證</a></li>

                                <li><a class="nav-main__menu-second-link" href="/cn/services-chinese/providing-services-of-applying-for-entry-to-vietnam/" title="提供申請越南入境許可的服務">提供申請越南入境許可的服務</a></li>

                            </ul>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/news-chinese/" title="新聞">新聞</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/careers-chinese/" title="招聘">招聘</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/cn/contact-chinese/" title="聯繫">聯繫</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_2.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">主頁</a>

        <span>新聞</span>

    </div>

    <div class="pageTitle hidden">新聞</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="heading-page"><div class="d-md-flex"><h3>新聞</h3></div></div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/cn/news-chinese/troubleshooting-accounting-books-accounting-services-tax-refund-chinese.html" title="嚴禁從被審計單位獲得支持"><img src="/images/2021/angiang-phucvu.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/cn/news-chinese/troubleshooting-accounting-books-accounting-services-tax-refund-chinese.html" title="嚴禁從被審計單位獲得支持">嚴禁從被審計單位獲得支持</a>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/cn/news-chinese/18cccd.html" title="越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。"><img src="/images/2021/chi-phi-ban-hang.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/cn/news-chinese/18cccd.html" title="越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。">越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。</a>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/cn/news-chinese/1-1.html" title="關於發票和憑證管理中風險管理的應用規定"><img src="/images/2021/hinh-lam-ke-toan-thue.png" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/cn/news-chinese/1-1.html" title="關於發票和憑證管理中風險管理的應用規定">關於發票和憑證管理中風險管理的應用規定</a>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/cn/news-chinese/202171.html" title="從2021年7月1日起：改變家庭參保觀念"><img src="/images/2021/_n_20210521031650pm.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/cn/news-chinese/202171.html" title="從2021年7月1日起：改變家庭參保觀念">從2021年7月1日起：改變家庭參保觀念</a>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/cn/news-chinese/vssid.html" title="同奈：成立指導委員會以展開 VssID 應用程序"><img src="/images/2021/bhythg_.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/cn/news-chinese/vssid.html" title="同奈：成立指導委員會以展開 VssID 應用程序">同奈：成立指導委員會以展開 VssID 應用程序</a>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item-news">
                        <div class="thumb-img"><a href="/cn/news-chinese/1-2.html" title="個人在會計領域的行政違規將被處以最高伍仟萬越南盾的罰款"><img src="/images/2021/_n_20210521031650pm.jpg" /></a></div>
                        <div class="summary-news">
                            <a class="text-title" href="/cn/news-chinese/1-2.html" title="個人在會計領域的行政違規將被處以最高伍仟萬越南盾的罰款">個人在會計領域的行政違規將被處以最高伍仟萬越南盾的罰款</a>
                            <p></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="paging">
                        <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                                <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="1">1</a></li>

                                <li class="page-item"><a class="page-link" href="/cn/news-chinese/?p=2" title="2">2</a></li>

                                <li class="page-item next"><a class="page-link" href="/cn/news-chinese/?p=2">>></a></li>

                            </ul>


                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</body>